@font-face {
  font-family: "iconfont"; /* Project id 1584974 */
  src: url('iconfont.woff2?t=1632799501772') format('woff2'),
       url('iconfont.woff?t=1632799501772') format('woff'),
       url('iconfont.ttf?t=1632799501772') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
 
.icon-dui:before {
  content: "\e6d6";
}

.icon-white{
  color: white;
  text-shadow: 1.2px 1.2px 0.8px #000000bf;
}

.iconDui{
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-bold {
  font-weight: bold;
}

.icon-map{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-poi{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgb(218, 132, 75);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.iconfontMap{
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .iconDui{
  font-size: 12px;
  color: #fff;
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  left: 1px;
} */



/* .icon-zhibeizhen:before {
  content: "\e726";
}

.icon-sousuo:before {
  content: "\e6b9";
}

.icon-fangda:before {
  content: "\e65f";
}

.icon-suoxiao:before {
  content: "\e663";
}

.icon-dingwei3:before {
  content: "\e66d";
}

.icon-thumb:before {
  content: "\e9f3";
}

.icon-info:before {
  content: "\e62c";
}

.icon-viewAni:before {
  content: "\e67b";
}

.icon-tianqi:before {
  content: "\e64e";
}

.icon-wancheng:before {
  content: "\e632";
}

.icon-weixin:before {
  content: "\e66c";
}

.icon-qq:before {
  content: "\e671";
}

.icon-weibo:before {
  content: "\e76d";
}

.icon-qiyeweixin:before {
  content: "\e676";
}

.icon-close:before {
  content: "\e631";
}

.icon-share:before {
  content: "\e640";
}

.icon-earth:before {
  content: "\e62b";
}

.icon-walk:before {
  content: "\e652";
}

.icon-fullScreen:before {
  content: "\e6b4";
}

.icon-narrow:before {
  content: "\e644";
}

.icon-setting:before {
  content: "\e63b";
}

.icon-autoRotate:before {
  content: "\e660";
}

.icon-sky:before {
  content: "\e662";
} */
.icon-poimianji:before {
  content: "\e65e";
}

.icon-yanjing:before {
  content: "\e6cc";
}

.icon-volume:before {
  content: "\ea5a";
}

.icon-fresh:before {
  content: "\e603";
}

.icon-caidan1:before {
  content: "\eaf1";
}

.icon-shangyige1:before {
  content: "\e659";
}

.icon-prev:before {
  content: "\e600";
}

.icon-dingwei:before {
  content: "\e614";
}

.icon-04:before {
  content: "\e605";
}

.icon-kuozhan:before {
  content: "\e678";
}

.icon-unlock:before {
  content: "\e606";
}

.icon-lock:before {
  content: "\e608";
}

.icon-area:before {
  content: "\e65c";
}

.icon-toolkit:before {
  content: "\e61d";
}

.icon-chizi:before {
  content: "\e624";
}

.icon-check:before {
  content: "\e633";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-zantingtingzhi:before {
  content: "\e8de";
}

.icon-edit:before {
  content: "\e66a";
}

.icon-caidan:before {
  content: "\e604";
}

.icon-bofang:before {
  content: "\e778";
}

.icon-moban:before {
  content: "\e602";
}

.icon-dui:before {
  content: "\e6d6";
}

.icon-fanhui-down:before {
  content: "\e635";
}

.icon-jiantou:before {
  content: "\e601";
}

.icon-zhibeizhen:before {
  content: "\e726";
}

.icon-sousuo:before {
  content: "\e6b9";
}

.icon-fangda:before {
  content: "\e65f";
}

.icon-suoxiao:before {
  content: "\e663";
}

.icon-dingwei3:before {
  content: "\e66d";
}

.icon-thumb:before {
  content: "\e9f3";
}

.icon-info:before {
  content: "\e62c";
}

.icon-viewAni:before {
  content: "\e67b";
}

.icon-tianqi:before {
  content: "\e64e";
}

.icon-wancheng:before {
  content: "\e632";
}

.icon-weixin:before {
  content: "\e66c";
}

.icon-qq:before {
  content: "\e671";
}

.icon-weibo:before {
  content: "\e76d";
}

.icon-qiyeweixin:before {
  content: "\e676";
}

.icon-close:before {
  content: "\e631";
}

.icon-share:before {
  content: "\e640";
}

.icon-earth:before {
  content: "\e62b";
}

.icon-walk:before {
  content: "\e652";
}

.icon-fullScreen:before {
  content: "\e6b4";
}

.icon-narrow:before {
  content: "\e644";
}

.icon-setting:before {
  content: "\e63b";
}

.icon-autoRotate:before {
  content: "\e660";
}

.icon-sky:before {
  content: "\e662";
}
.icon-rotate::before{
  content: '\E6E2';
}
.icon-move::before{
  content: '\E616';
}
.icon-setting::before{
  content:'\E63B'
}
