
.info-wrapper {
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}
.info-wrapper>span{
    display: inline-block;
    width: 130px;
}

.info-wrapper .info-text{
   margin-left: 34px;
}
.info-wrapper .tooltip_popper.is-dark {
    background: #000000;
    color: #fff;
    opacity: 0.9;
    width: 62px;
    cursor: default;
}
.info-wrapper .tooltip_popper {
    border-radius: 4px;
    padding: 7px;
    z-index: 2000;
    font-size: 12px;
    line-height: 1.2;
    min-width: 10px;
    white-space: nowrap;
    width: 111px;
}
.info-wrapper .popper_arrow {
    border-width: 6px;
    border-color: transparent;
    border-top-color: #000000;
    border-style: solid;
    position: relative;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    background: transparent;
}