.measure_topCard4 {
    background: #303133;
    color: #fff;
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    z-index: 2000;
    font-size: 12px;
    line-height: 1.2;
    min-width: 10px;
    transform: scale(1);
    white-space: nowrap; 
}

.popper-arrow {
    border-width: 6px;
    bottom: -12px;
    border-color: transparent;
    border-top-color: #303133;
    border-style: solid;
    position: absolute;
    display: block;
    width: 0;
    height: 0px;
    left: 48%;
    background: transparent;
}

.topcard-label {
    font-size: 12px;
    line-height: 28px;
    border: solid 1px #ccc;
    padding: 3px 7px 3px 7px;
    white-space: nowrap;
    position: absolute;
    border-radius: 4px;
    z-index: 9000;
    pointer-events: none;
}