.rightTop-icon-nav {
    position: absolute;
    right: 16px;
    z-index: 8;
    /* width: -webkit-min-content;
    width: -moz-min-content; */
    width: 34px;
    top: 16px;
}

.rtdmerge {
    border-radius: 4px;
    position: relative;
    top: 41px;
}

.rtdmerge1 {
    border-radius: 4px;
}

.bottom-line{
    border-bottom: 1px solid rgb(255,255,255,.2);
}

.item-space{
    margin: 0 0 8px 0;
}

.rightTop-icon {
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: block;
    cursor: pointer;
    margin: 0 0 8px 0;
}

.rightTop-icon1 {
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: block;
    cursor: pointer;
}

a {
    color: #fff;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    transition: color .2s ease;
}
.search-icon-box {
    display: block;
    width: 34px;
    float: left;
}

.rtmerge-bottom {
    border-radius: 4px;
    top: 218px;
    position: fixed;
    right: 16px;
}

#earthCompass {
    height: 34px;
    width: 34px;
    position: absolute;
    top: 218px;
    right: 16px;
    transform: rotate(0rad);
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

#earthCompass:hover {
    color: #157eff;
}

.distanceactive {
    color: #157eff;
}

#right-measure{
    position: relative;
}

.measure-location-wrapper{
    display: block;
    position: absolute;
    right: 34px;
    top: 0px;
    width: auto;
}

.measure-location-panel {
    display: none;
    position: absolute;
    right: 0;
    top: 0;   
}

.measure-location-panel ul{
    display: flex;
    width: auto;
    overflow: auto;
    width: min-content;

}

.measure-location-panel ul li{
    display: inline;
    height: 34px;
    line-height: 34px;
    width: 34px;
    color:hsla(0, 0%, 100%, .8);
    font-size:14px;
    cursor: pointer;
    background: rgba(0,0,0,.7);
}

.measure-location-panel1 ul li:hover{
    color: #157eff;
}

.right-line{
    border-right: 1px solid rgb(255,255,255,.2);
}

.bottom-right{
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-width: 0px 6px 6px 0px;
    border-style: solid;
    border-color:hsla(0, 0%, 100%, .8) hsla(0, 0%, 100%, .8) transparent transparent;
    position: absolute;
    top: 24px;
    right: 2px;
    transform: rotate(90deg);
}

.activeColor{
    color: #157eff;
}

/* 搜索 */
.displaycontent {
    width: 200px;
    height: 27px;
    top: 33px;
    position: absolute;
    right: 10px;
    display: none;

}

.ivu-input-wrapper {
    display: inline-block;
    width: 195px;
    position: relative;
    vertical-align: middle;
    line-height: normal;
    top: -20px;
}

.ivu-input-with-suffix {
    padding-right: 28px;
}

.ivu-input-with-prefix {
    padding-left: 28px;

}

.ivu-input {
    display: inline-block;
    width: 149px;
    height: 27px;
    line-height: 1.5;
    padding: 3px 22px;
    font-size: 12px;
    border: 1px solid #666;
    border-radius: 2px;
    color: #fff;
    position: relative;
    cursor: text;
    outline: none;
    background: rgba(0, 0, 0, .7);
    transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
    text-align: left;
}

.ivu-input-prefix {
    width: 25px;
    height: 27px;
    text-align: center;
    position: absolute;
    left: 0;
    top: -39px;
    z-index: 1;
}

.ivu-input-prefix i {
    font-size: 19px;
    line-height: 14px;
    color: #808695;
    margin-top: 30px;
}

.ivu-icon {
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
}

.map-list {
    width: 194px;
    max-height: 350px;
    position: absolute;
    top: 60px;
    right: 15px;
    z-index: 30;
    background: #2e2f30;
    border-radius: 2px;
}

.map-list .map-list-ul .map-list-li {
    background-color: #2e2f30;
    white-space: nowrap;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 40px;
    font-size: 13px;
    overflow: hidden;
    color: #404040;
}

.map-list .map-list-ul .map-list-li .map-list-text {
    margin-right: 12px;
    margin-left: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.map-list .map-list-ul .map-list-li .map-list-text .sug_val {
    line-height: 32px;
    cursor: pointer;
    font-size: 13px;
    color: #404040;
}

.map-list .map-list-ul .map-list-li .map-list-text .district {
    margin-left: 10px;
    margin-right: 5px;
    color: #999;
    font-size: 12px;
}

.answer-list {
    right: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 41px;
    border-radius: 2px;
    width: 194px;
    height: auto; 
    /* overflow-y: scroll; */
    z-index: 9;
}

.answer-list>.no-answer-info-box {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    display: none;
}

.ivu-dropdown-item:hover {
    background: #47484a;
}

.ivu-dropdown-item {
    text-align: left;
    padding: 7px 10px;
}

.ivu-dropdown-menu {
    min-width: 100px;
}

.ivu-dropdown-item {
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: hsla(0, 0%, 100%, .87);
    font-size: 12px !important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.single-row-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-row-ellipsis1 {
    max-height: 296px;
    overflow: hidden;
}

span.name {
    float: left;
    line-height: 15px;
    margin-left: 10px !important;
    ;
    font-size: 14px !important;
    color: white;
}

.icon-map:hover {
    color: #157eff;
}

.rightTop-icon.rtdmerge1.search {
    position: absolute;
    right: 0px;
}

input#thing-search-input {
    position: absolute;
    right: -178px;
    top: 0px;
}

#thing-search-input {
    position: absolute;
    display: none;
    width: 64%;
    height: 26px;
    left: 26px;
    margin-top: 4px;
    -webkit-user-select: auto;
    user-select: auto;
    padding: 4px 9px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
    background: rgb(248 245 245 / 0%);
    border: 0px solid #595959;
    outline: 0px;
    z-index: 10;
}
.point-wrapper{
    height: 96px;
}
.point-container{
    pointer-events: none;
    position: relative;
    top:0px;
    left: 0px;
    width:auto;
    height: 32px;
    opacity: 0.7;
    background: rgb(14, 18, 25);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-image: initial;
    border-top:2px solid rgb(255,137,63);
    padding: 2px 5px;
    padding-right: 3px;
    cursor: default;
    white-space: nowrap;
    font-size: 16px;
}
.point-text{
    width: auto;
    position: relative;
    display: block;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Regular, "PingFang SC";
    font-weight: 400;
    display: inline-block;
    color: rgb(255, 255, 255);
    line-height: 22px;
}


/* 添加 */
span.span3 {
    display: none;
    padding: 0 0px;
    border-left: 1px solid #565555;
    height: 30px;
    line-height: 27px;
    width: 23%;
    left: 75%;
    text-align: center;
    position: absolute;
    top: 2px;
    cursor: pointer;
    font-size: 10px;
    float: right;
    color: #999;
    overflow: hidden;
}


.search-type-g{
    display: none;
    position: absolute;
    left: 72%;
    height: 64px;
    padding: 5px;
    font-family: Open Sans, sans-serif;
    font-size: .75rem;
    line-height: normal;
    color: #fff;
    text-align: initial;
    white-space: nowrap;
    /* background: rgba(0, 0, 0, 0.75); */
    background: rgba(0, 0, 0);
    border-radius: 6px;
    transition: opacity .3s, margin-left 0s .3s;
    width: 100px;
    cursor: default;
    top: 40px;
    transform: translate(-50%, 0);
	list-style: none;
    z-index: 100;

}

.search-type-g:after {
    content: "";
    position: absolute;
    top: -19%;
    left: 50%;
    margin-left: 17px;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
    transform: rotate(180deg)

}
.activea::before{
    font-size: 12px;
    color: #fff;
	font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    content: "\e6b8";
	position: absolute;
    left: 1px;
	top: 1px;
}

.search-type-g li {
    position: relative;
    padding-left: 26px;
    line-height: 28px;
    color: #ccc;
    cursor: pointer;
    border-radius: 2px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.search-type-g li:last-child {
    border-bottom: 0px;
}
.earthInfo{
    position: absolute;
    line-height: 28px;
    left: 15px;
}

.layerInfo{
    display: none;
    position: absolute;
    line-height: 28px;
    left: 15px;
}

.point-button{
    z-index: 10;
    position: absolute;
    top:-60px;
    width: 44px;
    height: 64px;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../img/poi/search.png) no-repeat;
}