.ThingJS_wrap2 {
  width: 100%;
  height: 100%;
}
.ThingJS_wrap2 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ThingJS_wrap2 ul,
.ThingJS_wrap2 li {
  list-style: none;
}
.ThingJS_wrap2 .panel {
  position: absolute;
  border: 1px solid #f5f5f5;
  background: #fbfbfb;
  box-shadow: 2px 0px 8px 0px rgba(167, 167, 167, 0.24);
  opacity: 0.96;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.ThingJS_wrap2 .panel .main {
  border-radius: 4px;
}
.ThingJS_wrap2 .panel .title {
  height: 38px;
  background: #f5f5f5;
  border-radius: 2px 2px 0px 0px;
  position: relative;
}
.ThingJS_wrap2 .panel .title .text {
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #222222;
  line-height: 38px;
  padding-left: 20px;
}
.ThingJS_wrap2 .panel .title .close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 10px;
  height: 10px;
  background: url('../images/panel/icon-close.png') no-repeat;
  cursor: pointer;
}
.ThingJS_wrap2 .panel .ThingJS_hide {
  display: none;
}
.ThingJS_wrap2 .panel .tab-box {
  height: 38px;
  background: #f5f5f5;
  position: relative;
}
.ThingJS_wrap2 .panel .tab-box .tab {
  height: 29px;
  border-radius: 4px;
  margin: 0 32px;
  padding: 0 0 8px 0;
}
.ThingJS_wrap2 .panel .tab-box .tab .tabb {
  border-radius: 4px;
  overflow: hidden;
}
.ThingJS_wrap2 .panel .tab-box .tab .span-tab {
  float: left;
  min-width: 85px;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  line-height: 23px;
  text-align: center;
  height: 23px;
  cursor: pointer;
  border-radius: 12px;
}
.ThingJS_wrap2 .panel .tab-box .tab .ThingJS_tab-lied {
  background: #fe8f26;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #ffffff;
  opacity: 1;
}
.ThingJS_wrap2 .panel .dv-string {
  padding: 0 10px;
}
.ThingJS_wrap2 .panel .dv-string .p1 {
  border-top: 1px solid #f5f5f5;
  padding: 0 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  line-height: 36px;
}
.ThingJS_wrap2 .panel .dv-string .p1 span {
  word-break: break-all;
  text-align: justify;
}
.ThingJS_wrap2 .panel .dv-string .p1 .span3 {
  width: 16px;
  height: 16px;
  background: url('../images/panel/icon-daohang.png') no-repeat;
  margin: 12px 12px 12px -12px;
}
.ThingJS_wrap2 .panel .dv-string .p1 .span4 {
  height: 18px;
  background: #ff762a;
  border-radius: 2px;
  padding: 0 12px;
  line-height: 18px;
  margin-top: 10px;
}
.ThingJS_wrap2 .panel .dv-string .p1 .span5 {
  margin: 5px 0;
  min-width: 58px;
  height: 28px;
  background: #3d414c;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  position: relative;
  line-height: 28px;
  padding-left: 9px;
}
.ThingJS_wrap2 .panel .dv-string .p1 .span5::before {
  content: '';
  position: absolute;
  top: -2px;
  right: -1px;
  width: 16px;
  height: 30px;
  background: url('../images/panel/icon-number1.png') no-repeat;
}
.ThingJS_wrap2 .panel .dv-string .p1 .span5::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -1px;
  width: 16px;
  height: 30px;
  background: url('../images/panel/icon-number2.png') no-repeat;
}
.ThingJS_wrap2 .panel .dv-string .p1 .input1 {
  height: 29px;
  line-height: 29px;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  border-radius: 6px;
  color: #666666;
  padding-left: 10px;
  width: 112px;
  margin: 4px 0;
  display: none;
  list-style: none;
}
.ThingJS_wrap2 .panel .ThingJS_number {
  padding: 0 14px;
}
.ThingJS_wrap2 .panel .ThingJS_number .p1 {
  border-top: 1px solid #f5f5f5;
  padding: 0 16px;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  line-height: 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ThingJS_wrap2 .panel .ThingJS_number .p1 .span1 {
  word-break: break-all;
  text-align: justify;
}
.ThingJS_wrap2 .panel .ThingJS_number .p1 .span5 {
  word-break: break-all;
  margin: 13px 0;
  min-width: 116px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  position: relative;
  line-height: 29px;
  text-align: left;
  padding-left: 14px;
}
.ThingJS_wrap2 .panel .ThingJS_number .p1 input.span5[type=number] {
  color: #666666;
  outline: none;
  width: 116px;
  padding-right: 14px;
  -moz-appearance: textfield;
}
.ThingJS_wrap2 .panel .ThingJS_number .p1 input.span5[type=number]::-webkit-inner-spin-button,
.ThingJS_wrap2 .panel .ThingJS_number .p1 input.span5[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ThingJS_wrap2 .panel .ThingJS_number .slider-bar {
  display: none;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider {
  padding: 0 22px;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 {
  height: auto;
  padding: 0;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .span1 {
  display: block;
  font-size: 12px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  line-height: 30px;
  opacity: 0.6;
  word-break: break-all;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .span5 {
  display: none;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .slider-bar {
  height: 10px;
  background: #eeeeee;
  border-radius: 5px;
  margin: 12px 0;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .slider-bar .slider {
  width: 157px;
  height: 10px;
  background: #fe8f26;
  border-radius: 4px;
  margin: 0;
  position: relative;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .slider-bar .slider .slider-sp1 {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 1px solid #ff762a;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -4px;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .slider-bar .slider .slider-sp2 {
  position: absolute;
  top: -27px;
  right: -29px;
  min-width: 30px;
  height: 18px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  font-size: 10px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #333333;
  line-height: 16px;
  padding: 0 5px;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .slider-bar .slider .slider-sp2::before {
  content: '';
  display: block;
  position: absolute;
  border-top: 4px solid #d5d5d5;
  border-right: 8px solid transparent;
  bottom: -5px;
  left: -1px;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .slider-bar .slider .slider-sp2::after {
  content: '';
  display: block;
  position: absolute;
  border-top: 4px solid #ffffff;
  border-right: 8px solid transparent;
  bottom: -3px;
  left: 0;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .slider-bar .slider-blue {
  width: 127px;
  height: 8px;
  background: #3792fb;
  border: 1px solid #0f0f0f;
  border-radius: 4px;
}
.ThingJS_wrap2 .panel .ThingJS_has-slider .p1 .slider-bar .slider-blue .slider-sp1-blue {
  background: #ffffff;
  border: 1px solid #3792fb;
}
.ThingJS_wrap2 .panel .dv-input {
  padding: 0 10px;
}
.ThingJS_wrap2 .panel .dv-input .dv33 {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #f5f5f5;
}
.ThingJS_wrap2 .panel .dv-input .dv33 .dv22 {
  position: relative;
  display: flex;
  word-break: keep-all;
  max-width: 100%;
  min-width: 50%;
}
.ThingJS_wrap2 .panel .dv-input .dv33 .dv22 input[type="checkbox"] {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 16px;
  left: 0px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.ThingJS_wrap2 .panel .dv-input .dv33 .dv22 input[type="radio"] {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 16px;
  left: 0px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.ThingJS_wrap2 .panel .dv-input .dv33 .dv22 input[type="checkbox"] + .input2 {
  float: left;
  margin: 16px 0px;
  cursor: pointer;
  outline: 0;
  display: block;
  width: 16px;
  height: 16px;
  background: url('../images/panel/checkbox1.png') no-repeat;
  background-position: 1px 1px;
  overflow: hidden;
}
.ThingJS_wrap2 .panel .dv-input .dv33 .dv22 input[type="checkbox"]:checked + .input2 {
  background: url('../images/panel/checkbox2.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-input .dv33 .dv22 input[type="radio"] + .input2 {
  float: left;
  margin: 16px 0px;
  cursor: pointer;
  outline: 0;
  display: block;
  width: 17px;
  height: 17px;
  background: url('../images/panel/radio1.png') no-repeat;
  background-position: 1px 1px;
  overflow: hidden;
}
.ThingJS_wrap2 .panel .dv-input .dv33 .dv22 input[type="radio"]:checked + .input2 {
  background: url('../images/panel/radio2.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-input .dv33 .dv22 .text {
  float: left;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  line-height: 48px;
  padding-left: 10px;
  width: calc(100% - 16px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.ThingJS_wrap2 .panel .dv-input .dv33 .dv22 span.ThingJS_checked {
  color: #f08533;
}
.ThingJS_wrap2 .panel .dv-image {
  position: relative;
}
.ThingJS_wrap2 .panel .dv-image img {
  margin: 10px;
}
.ThingJS_wrap2 .panel .dv-image .p2 {
  width: 292px;
  height: 27px;
  background: #011014;
  opacity: 0.6;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.ThingJS_wrap2 .panel .dv-image .p2 .icon2 {
  position: absolute;
  top: 6px;
  right: 11px;
  width: 14px;
  height: 14px;
  background: url('../images/panel/icon-icon2.png') no-repeat;
  cursor: pointer;
}
.ThingJS_wrap2 .panel .dv-image .p3 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37px;
  margin-left: -37px;
  width: 74px;
  height: 74px;
  background: url('../images/icon-shipin.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-iframe .p1 {
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666;
  line-height: 36px;
  padding: 0 16px;
}
.ThingJS_wrap2 .panel .dv-table {
  width: 100%;
  overflow-x: auto;
}
.ThingJS_wrap2 .panel .dv-table::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 325px;
  height: 12px;
  background: #f8f8f8;
  border-radius: 2px;
}
.ThingJS_wrap2 .panel .dv-table::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  height: 10px;
  background: #c3c3c3;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.ThingJS_wrap2 .panel .dv-table::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px #ffffff;
  border-radius: 10px;
  background: #c3c3c3;
}
.ThingJS_wrap2 .panel .dv-table .table1 {
  width: 100%;
}
.ThingJS_wrap2 .panel .dv-table .table1 .thead1 {
  height: 36px;
  background: #f9f9f9;
}
.ThingJS_wrap2 .panel .dv-table .table1 tbody tr:hover {
  background: rgba(211, 218, 217, 0.5);
}
.ThingJS_wrap2 .panel .dv-table .table1 tbody .ThingJS_selected {
  background: rgba(211, 218, 217, 0.8);
}
.ThingJS_wrap2 .panel .dv-table .table1 tr {
  height: 36px;
}
.ThingJS_wrap2 .panel .dv-table .table1 th,
.ThingJS_wrap2 .panel .dv-table .table1 td {
  border: 0;
  min-width: 81px;
  text-align: center;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  line-height: 36px;
}
.ThingJS_wrap2 .panel .dv-table .table1 td {
  border-top: 1px solid #f5f5f5;
}
.ThingJS_wrap2 .panel .dv6 .p1 {
  padding-left: 22px;
  height: 38px;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  line-height: 38px;
}
.ThingJS_wrap2 .panel .dv6 input {
  height: 29px;
  line-height: 29px;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  border-radius: 6px;
  color: #666666;
  padding: 0 10px;
  margin: 4.5px 22px;
  display: none;
  list-style: none;
  width: calc(100% - 44px);
}
.ThingJS_wrap2 .panel .dv-progress .p1 {
  height: 38px;
  background: #f5f5f5;
  border-radius: 6px 6px 0px 0px;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #222222;
  line-height: 38px;
  padding-left: 22px;
}
.ThingJS_wrap2 .panel .dv-progress .bar {
  height: 80px;
  padding: 0 45px;
  overflow: hidden;
}
.ThingJS_wrap2 .panel .dv-progress .bar .progress {
  margin-top: 32px;
  height: 1px;
  background: #e8e7eb;
  position: relative;
}
.ThingJS_wrap2 .panel .dv-progress .bar .percent {
  width: 243px;
  height: 3px;
  background: #f08533;
  position: relative;
}
.ThingJS_wrap2 .panel .dv-progress .bar .percent .btn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: url('../images/panel/progress_yes.png');
  border-radius: 50%;
  cursor: pointer;
  z-index: 9;
}
.ThingJS_wrap2 .panel .dv-progress .bar .percent .ThingJS_progress-start::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background: url('../images/panel/progress_start.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-progress .bar .percent .ThingJS_progress-stop::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background: url('../images/panel/progress_stop.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li {
  position: absolute;
  top: -20px;
  width: 40px;
  height: 40px;
  background: url('../images/panel/progress1.png') no-repeat;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -20px;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li:nth-child(1) {
  left: 0%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li:nth-child(2) {
  left: 12.5%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li:nth-child(3) {
  left: 25%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li:nth-child(4) {
  left: 37.5%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li:nth-child(5) {
  left: 50%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li:nth-child(6) {
  left: 62.5%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li:nth-child(7) {
  left: 75%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li:nth-child(8) {
  left: 87.5%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .point-li:nth-child(9) {
  left: 100%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .ThingJS_finished {
  background: url('../images/panel/progress_yes.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .current {
  background: url('../images/panel/progress_yes.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .start {
  background: url('../images/panel/progress_start.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-progress .bar .point-ul .stop {
  background: url('../images/panel/progress_stop.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li {
  position: absolute;
  top: 17px;
  width: 70px;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  margin-left: -35px;
  text-align: center;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li:nth-child(1) {
  left: 0%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li:nth-child(2) {
  left: 12.5%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li:nth-child(3) {
  left: 25%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li:nth-child(4) {
  left: 37.5%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li:nth-child(5) {
  left: 50%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li:nth-child(6) {
  left: 62.5%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li:nth-child(7) {
  left: 75%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li:nth-child(8) {
  left: 87.5%;
}
.ThingJS_wrap2 .panel .dv-progress .bar .prop-ul .prop-li:nth-child(9) {
  left: 100%;
}
.ThingJS_wrap2 .panel .dv8 {
  height: 38px;
  padding: 0 10px;
}
.ThingJS_wrap2 .panel .dv8 .p1 {
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  line-height: 36px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #303030;
}
.ThingJS_wrap2 .panel .dv8 .p1 .span2 {
  text-align: right;
}
.ThingJS_wrap2 .panel .dv-boolean {
  padding: 0 10px;
}
.ThingJS_wrap2 .panel .dv-boolean .p1 {
  border-top: 1px solid #f5f5f5;
  padding-left: 21px;
  display: flex;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  line-height: 36px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ThingJS_wrap2 .panel .dv-boolean .p1 .span2 {
  display: block;
  width: 48px;
  height: 22px;
  background: #e0e3e8;
  border-radius: 11px;
  position: relative;
  margin: 8px 16px 8px 0;
}
.ThingJS_wrap2 .panel .dv-boolean .p1 .span2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #d2d4d7;
  border-radius: 50%;
  box-sizing: border-box;
}
.ThingJS_wrap2 .panel .dv-boolean .p1 .ThingJS_boolean-btn-checked {
  display: block;
  width: 48px;
  height: 22px;
  background: #fe8f26;
  border-radius: 11px;
  position: relative;
  margin: 8px 16px 8px 0;
}
.ThingJS_wrap2 .panel .dv-boolean .p1 .ThingJS_boolean-btn-checked::after {
  content: '';
  position: absolute;
  top: 0;
  left: 26px;
  width: 22px;
  height: 22px;
  background: #ffffff;
  border: 1px solid #fe8f26;
  border-radius: 50%;
  box-sizing: border-box;
}
.ThingJS_wrap2 .panel .dv-image-boolean::after {
  content: ".";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li {
  width: 50px;
  cursor: pointer;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  float: left;
  margin: 5px;
  position: relative;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li .tools-p {
  width: 26px;
  height: 26px;
  margin: 12px;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li .tools-svg {
  display: none;
  width: 26px;
  height: 26px;
  margin: 12px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: #6b6a6a;
  cursor: pointer;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li .tools-title {
  width: 66px;
  height: 20px;
  border: 1px solid #f1f1f1;
  background: #f5f5f5;
  position: absolute;
  bottom: -18px;
  left: 12px;
  font-size: 12px;
  color: #666666;
  text-align: center;
  display: none;
  z-index: 1;
  border-radius: 2px;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li .tools-title::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -8px;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f1f1f1;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li .tools-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -8px;
  top: -7px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f5f5f5;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li .tools-name {
  height: 20px;
  text-align: center;
  display: none;
  font-size: 12px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:nth-child(1) .tools-p {
  background: url('../images/tools/01.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:nth-child(2) .tools-p {
  background: url('../images/tools/02.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:nth-child(3) .tools-p {
  background: url('../images/tools/03.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:nth-child(4) .tools-p {
  background: url('../images/tools/04.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:nth-child(5) .tools-p {
  background: url('../images/tools/05.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:nth-child(6) .tools-p {
  background: url('../images/tools/06.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:nth-child(7) .tools-p {
  background: url('../images/tools/07.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:nth-child(8) .tools-p {
  background: url('../images/tools/08.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover {
  border: 1px solid #ff762a;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover .tools-title {
  display: block;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover:nth-child(1) .tools-p {
  background: url('../images/tools/11.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover:nth-child(2) .tools-p {
  background: url('../images/tools/22.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover:nth-child(3) .tools-p {
  background: url('../images/tools/33.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover:nth-child(4) .tools-p {
  background: url('../images/tools/44.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover:nth-child(5) .tools-p {
  background: url('../images/tools/55.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover:nth-child(6) .tools-p {
  background: url('../images/tools/66.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover:nth-child(7) .tools-p {
  background: url('../images/tools/77.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .tools-li:hover:nth-child(8) .tools-p {
  background: url('../images/tools/88.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true {
  border: 1px solid #ff762a;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true .tools-svg {
  color: #ff762a;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true:nth-child(1) .tools-p {
  background: url('../images/tools/11.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true:nth-child(2) .tools-p {
  background: url('../images/tools/22.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true:nth-child(3) .tools-p {
  background: url('../images/tools/33.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true:nth-child(4) .tools-p {
  background: url('../images/tools/44.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true:nth-child(5) .tools-p {
  background: url('../images/tools/55.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true:nth-child(6) .tools-p {
  background: url('../images/tools/66.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true:nth-child(7) .tools-p {
  background: url('../images/tools/77.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .dv-image-boolean .ThingJS-image-true:nth-child(8) .tools-p {
  background: url('../images/tools/88.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .panel .ThingJS_tools_hasname .tools-li {
  width: 70px;
}
.ThingJS_wrap2 .panel .ThingJS_tools_hasname .tools-li .tools-p {
  margin: 12px 22px;
}
.ThingJS_wrap2 .panel .ThingJS_tools_hasname .tools-li .tools-name {
  display: block;
}
.ThingJS_wrap2 .panel .ThingJS_tools_hasname .tools-li .tools-svg {
  margin: 12px 22px;
}
.ThingJS_wrap2 .panel .ThingJS_tools_hasname .tools-li:hover .tools-title {
  display: none;
}
.ThingJS_wrap2 .panel .dv-string:first-child .p1,
.ThingJS_wrap2 .panel .dv-number:first-child .p1,
.ThingJS_wrap2 .panel .dv-number-slider:first-child .p1 {
  border-top: none;
}
.ThingJS_wrap2 .panel .menu-container .menu-item {
  line-height: 34px;
  padding: 0 0 0 11px;
  width: 86px;
  color: #666666;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}
.ThingJS_wrap2 .panel .menu-container .menu-item .menu-right {
  width: 4px;
  height: 8px;
  background: #aaaaaa;
  clip-path: polygon(0% 0, 100% 50%, 0 100%);
  position: absolute;
  top: 13px;
  right: 11px;
}
.ThingJS_wrap2 .panel .menu-container .menu-item .ThingJS_menu-child,
.ThingJS_wrap2 .panel .menu-container .menu-item .menu-child {
  position: absolute;
  top: 0;
  left: calc(100% + 1px);
  border: 1px solid #f5f5f5;
  background: #fbfbfb;
  box-shadow: 0px 2px 21px 0px rgba(33, 34, 39, 0.55);
  border-radius: 4px;
}
.ThingJS_wrap2 .panel .menu-container .ThingJS_active,
.ThingJS_wrap2 .panel .menu-container .active {
  color: #ff7a1e;
}
.ThingJS_wrap2 .panel .ThingJS_color {
  height: 37px;
  line-height: 37px;
  padding: 0 10px;
}
.ThingJS_wrap2 .panel .ThingJS_color .cr-div {
  padding: 0 21px;
}
.ThingJS_wrap2 .panel .ThingJS_color .cr-div .property-name {
  float: left;
  color: #666666;
}
.ThingJS_wrap2 .panel .ThingJS_color .cr-div .c {
  float: right;
  position: relative;
}
.ThingJS_wrap2 .panel .ThingJS_color .cr-div .c input {
  width: 121px;
  height: 24px;
  border-radius: 2px;
}
.ThingJS_wrap2 .panel .ThingJS_color .cr-div .c .selector {
  display: none;
  position: absolute;
  z-index: 10;
  top: 28px;
  left: -1px;
}
.ThingJS_wrap2 .panel .ThingJS_color .cr-div .c:hover .selector {
  display: block;
}
.ThingJS_wrap2 .panel .ThingJS_gradients {
  padding: 0 10px;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div {
  padding: 0 21px;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .property-name {
  color: #666666;
  height: 37px;
  line-height: 37px;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c {
  position: relative;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .gradients-box {
  height: 20px;
  border: 1px solid #000;
  margin: 7px 0 25px 0;
  position: relative;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .gradients-box .grad {
  position: absolute;
  top: 26px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #000;
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: pointer;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .gradients-box .grad::after {
  content: '';
  position: absolute;
  top: -3.7px;
  left: 0.3px;
  width: 5.6px;
  height: 5.6px;
  background: #fff;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
  z-index: -1;
  border: 1px solid #000;
  box-sizing: border-box;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .gradients-box .grad:hover::after {
  background: #000;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .gradients-box .grad-active::after {
  background: #000;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .gradients-bar {
  width: 100%;
  position: absolute;
  top: 20px;
  height: 2px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .color-box {
  display: inline-block;
  width: 122px;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .color-box .input-color {
  width: 121px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid #000;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .color-box .selector {
  display: none;
  position: absolute;
  z-index: 10;
  top: 70px;
  left: -1px;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .color-box:hover .selector {
  display: block;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .percent-box {
  position: absolute;
  right: 30px;
  bottom: 0;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .percent-box .input-percent {
  width: 60px;
  height: 24px;
  border-radius: 2px;
  outline: none;
  list-style: none;
  text-align: center;
  border: 1px solid #000;
  padding: 0 12px 0 0;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .percent-box::after {
  content: '%';
  position: absolute;
  top: 0;
  right: 2px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .grad-remove {
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .grad-remove::before {
  position: absolute;
  top: 7px;
  right: -2px;
  content: '';
  width: 20px;
  height: 1px;
  background: #000;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -webkit-transform: rotate(-45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
}
.ThingJS_wrap2 .panel .ThingJS_gradients .cr-div .c .grad-remove::after {
  position: absolute;
  top: 7px;
  right: -2px;
  content: '';
  width: 20px;
  height: 1px;
  background: #000;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
}
.ThingJS_wrap2 .panel .function {
  padding: 0;
}
.ThingJS_wrap2 .panel .function .cr-div {
  padding: 0;
}
.ThingJS_wrap2 .panel .function .cr-div .property-name {
  visibility: hidden;
  display: none;
}
.ThingJS_wrap2 .panel .function .cr-div .c .button {
  width: 121px;
  height: 24px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 6px 24px 0px rgba(141, 141, 141, 0.24);
  color: #222222;
  box-sizing: border-box;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  margin: 8px 0;
  font-size: 12px;
}
.ThingJS_wrap2 .panel .function .cr-div .c .button:hover {
  border: 1px solid #d5d5d5;
  box-shadow: 0px 6px 24px 0px rgba(141, 141, 141, 0.24);
  background: #efefef;
}
.ThingJS_wrap2 .panel .function .cr-div .c .button:active {
  background: #ff8c1e;
  border: 1px solid #d5d5d5;
  box-shadow: 0px 6px 24px 0px rgba(141, 141, 141, 0.24);
  color: #ffffff;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload {
  padding: 0 10px;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div {
  padding: 0 21px;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .property-name {
  color: #666666;
  height: 37px;
  line-height: 37px;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c {
  position: relative;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .add-image-box {
  position: absolute;
  top: -37px;
  right: 0;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .add-image-box .add-image {
  font-size: 27px;
  cursor: pointer;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .add-image-box .add-image::before {
  content: '+';
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .add-image-box .add-input-file {
  display: none;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .image-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .image-container .img-thumb {
  width: 75px;
  height: 75px;
  border: 1px solid #b1acac;
  position: relative;
  margin: 0 0 5px 0;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .image-container .img-thumb .thumb-icon {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .image-container .img-thumb .thumb-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .image-container .img-thumb .thumb-close::before {
  position: absolute;
  top: 4px;
  right: -2px;
  content: '';
  width: 12px;
  height: 1px;
  background: #000;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -webkit-transform: rotate(-45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
}
.ThingJS_wrap2 .panel .ThingJS_imageUpload .cr-div .c .image-container .img-thumb .thumb-close::after {
  position: absolute;
  top: 4px;
  right: -2px;
  content: '';
  width: 12px;
  height: 1px;
  background: #000;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
}
.ThingJS_wrap2 .ThingJS_nav-vertical {
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  color: #666666;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 {
  overflow: hidden;
  border-radius: 6px;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .li1 {
  line-height: 50px;
  position: relative;
  background: #f5f5f5;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .li1 p {
  cursor: pointer;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .li1 .p1 {
  padding-left: 28px;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .li1 .arrows {
  width: 11px;
  height: 6px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url('../images/down.png') no-repeat;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .li1 .ThingJS-arrow-no {
  display: none;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .li1 .ThingJS_folder_arrow_up {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .menu1 {
  height: auto;
  border: none;
  background: #ffffff;
  opacity: 1;
  margin-top: -1px;
  border-radius: 0;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .menu1 .li1 {
  height: 39px;
  line-height: 39px;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #666666;
  text-align: center;
  background: #ffffff;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .menu1 .li1 .p1 {
  padding: 0;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .menu1 .li1 .arrows {
  top: 15px;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .menu1 .li1:hover {
  background: #f5f5f5;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .menu1 .ThingJS_active {
  background: #f5f5f5;
}
.ThingJS_wrap2 .ThingJS_nav-vertical .menu1 .menu1:last-child {
  border-radius: 0 0 5px 5px;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal {
  border: none;
  border-radius: 0;
  opacity: 1;
  background: #f5f5f5;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .main {
  border: none;
  border-radius: 0;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 {
  width: auto;
  height: 49px;
  background: #f5f5f5;
  float: left;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .li1 {
  line-height: 49px;
  position: relative;
  cursor: pointer;
  float: left;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .li1 .p1 {
  padding: 0 60px;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 700;
  color: #666666;
  text-align: center;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .li1 .arrows {
  width: 12px;
  height: 12px;
  background: url('../images/icon-right.png') no-repeat;
  background-size: contain;
  position: absolute;
  top: 19px;
  right: 0;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .li1 .ThingJS_arrows-open {
  background: url('../images/icon-right.png') no-repeat;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -moz-transform: rotate(-90deg);
  /* Firefox */
  -webkit-transform: rotate(-90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-90deg);
  /* Opera */
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .li1 .ThingJS-arrow-no {
  display: none;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .menu1 {
  width: auto;
  height: auto;
  clear: both;
  float: initial;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .menu1 .li1 {
  float: initial;
  border: 1px solid #f5f5f5;
  background: #ffffff;
  height: 39px;
  line-height: 39px;
  z-index: 2;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .menu1 .li1 .p1 {
  color: #666666;
  font-size: 14px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  padding: 0;
  text-align: center;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .menu1 .li1 .p1:hover {
  background: #f5f5f5;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .menu1 .li1 .arrows {
  top: 14px;
}
.ThingJS_wrap2 .ThingJS_nav-horizontal .menu1 .menu1 .active {
  background: #f5f5f5;
}
.ThingJS_wrap2 .ThingJS_Banner-top {
  width: 100%;
  height: 50px;
  background: #f3f3f3;
  position: relative;
}
.ThingJS_wrap2 .ThingJS_Banner-top .logo {
  width: 54px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.ThingJS_wrap2 .ThingJS_Banner-top .logo .logo-img {
  width: 30px;
  height: 30px;
  margin: 10px 12px;
  background: url('../images/ThingJS_Logo.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-top .title {
  position: absolute;
  top: 0;
  left: 54px;
  font-size: 16px;
  font-family: 'MicrosoftYaHei';
  font-weight: bold;
  color: #333333;
  line-height: 50px;
}
.ThingJS_wrap2 .ThingJS_Banner-top .search-icon {
  width: 22px;
  height: 22px;
  background: url('../images/search.png') no-repeat;
  position: absolute;
  top: 16px;
  right: 210px;
  cursor: pointer;
}
.ThingJS_wrap2 .ThingJS_Banner-top .setting-icon {
  width: 22px;
  height: 22px;
  background: url('../images/setting.png') no-repeat;
  position: absolute;
  top: 16px;
  right: 164px;
  cursor: pointer;
}
.ThingJS_wrap2 .ThingJS_Banner-top .line {
  width: 1px;
  height: 22px;
  background: #444444;
  position: absolute;
  top: 16px;
  right: 131px;
}
.ThingJS_wrap2 .ThingJS_Banner-top .login {
  position: absolute;
  top: 0;
  right: 0;
}
.ThingJS_wrap2 .ThingJS_Banner-top .login .login-img {
  width: 24px;
  height: 24px;
  background: url('../images/icon3.png') no-repeat;
  position: absolute;
  top: 16px;
  right: 89px;
}
.ThingJS_wrap2 .ThingJS_Banner-top .login .login-name {
  position: absolute;
  top: 2px;
  right: 34px;
  font-size: 16px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #dcdcdc;
  line-height: 48px;
}
.ThingJS_wrap2 .ThingJS_Banner-top .login .login-arrow {
  position: absolute;
  top: 25px;
  right: 21px;
  width: 8px;
  height: 4px;
  background: url('../images/xingzhuang1.png') no-repeat;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-li {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 14px;
  display: inline-flex;
  z-index: 999;
  position: relative;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-li .tools-p {
  width: 22px;
  height: 22px;
  background: url('../images/tools/01.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-li .tools-svg {
  display: none;
  width: 22px;
  height: 22px;
  fill: currentColor;
  overflow: hidden;
  color: #6b6a6a;
  cursor: pointer;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-li .tools-title {
  width: 66px;
  height: 28px;
  line-height: 28px;
  background: #fe8f26;
  position: absolute;
  bottom: -30px;
  left: 10px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  display: none;
  z-index: 1;
  border-radius: 4px;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-li .tools-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 13px;
  top: -7px;
  border-left: 4px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 9px solid #fe8f26;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-li .tools-name {
  display: none;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-li:hover {
  background: #ffffff;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-li:hover .tools-p {
  background: url('../images/tools/11.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-li:hover .tools-title {
  display: block;
}
.ThingJS_wrap2 .ThingJS_Banner-top .tools-lib {
  position: absolute;
  top: 0;
  left: 730px;
  z-index: 999;
}
.ThingJS_wrap2 .ThingJS_Banner-top .ThingJS-image-true {
  background: #ffffff;
}
.ThingJS_wrap2 .ThingJS_Banner-top .ThingJS-image-true .tools-svg {
  color: #ff762a;
}
.ThingJS_wrap2 .ThingJS_Banner-top.ThingJS_nav-vertical .menu1 {
  width: 150px;
  display: inline-block;
  float: left;
}
.ThingJS_wrap2 .ThingJS_Banner-top.ThingJS_nav-vertical .menu1 .menu1 {
  width: 100%;
}
.ThingJS_wrap2 .ThingJS_Banner-left {
  height: calc(100% - 50px);
  width: 60px;
  background: #fbfbfb;
  box-shadow: 2px 0px 8px 0px rgba(167, 167, 167, 0.24);
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-left: 2px solid rgba(49, 54, 66, 0);
  border-radius: 2px;
  padding: 5px;
  position: relative;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li .tools-p {
  width: 26px;
  height: 26px;
  margin: 12px;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li .tools-svg {
  display: none;
  width: 26px;
  height: 26px;
  margin: 12px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: #666;
  cursor: pointer;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li .tools-title {
  width: 66px;
  height: 28px;
  line-height: 28px;
  background: #fe8f26;
  position: absolute;
  bottom: -18px;
  left: 33px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  display: none;
  z-index: 1;
  border-radius: 4px;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li .tools-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 13px;
  top: -7px;
  border-left: 4px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 9px solid #fe8f26;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li .tools-name {
  height: 20px;
  text-align: center;
  display: none;
  font-size: 12px;
  font-family: 'MicrosoftYaHei';
  font-weight: 400;
  color: #fbfbfb;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:nth-child(1) .tools-p {
  background: url('../images/tools/01.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:nth-child(2) .tools-p {
  background: url('../images/tools/02.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:nth-child(3) .tools-p {
  background: url('../images/tools/03.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:nth-child(4) .tools-p {
  background: url('../images/tools/04.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:nth-child(5) .tools-p {
  background: url('../images/tools/05.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:nth-child(6) .tools-p {
  background: url('../images/tools/06.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:nth-child(7) .tools-p {
  background: url('../images/tools/07.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:nth-child(8) .tools-p {
  background: url('../images/tools/08.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover {
  border-left: 2px solid #fe8f26;
  background: #f5f5f5;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover .tools-title {
  display: block;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover:nth-child(1) .tools-p {
  background: url('../images/tools/11.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover:nth-child(2) .tools-p {
  background: url('../images/tools/22.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover:nth-child(3) .tools-p {
  background: url('../images/tools/33.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover:nth-child(4) .tools-p {
  background: url('../images/tools/44.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover:nth-child(5) .tools-p {
  background: url('../images/tools/55.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover:nth-child(6) .tools-p {
  background: url('../images/tools/66.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover:nth-child(7) .tools-p {
  background: url('../images/tools/77.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .tools-li:hover:nth-child(8) .tools-p {
  background: url('../images/tools/88.png') no-repeat;
  background-size: contain;
}
.ThingJS_wrap2 .ThingJS_Banner-left .ThingJS-image-true {
  border-left: 2px solid #fe8f26;
  background: #f5f5f5;
}
.ThingJS_wrap2 .ThingJS_Banner-left .ThingJS-image-true .tools-svg {
  color: #fe8f26;
}
.ThingJS_wrap2 .ThingJS_s2c1 .main {
  position: relative;
  min-height: 39px;
  overflow: hidden;
}
.ThingJS_wrap2 .ThingJS_s2c1 .main::before {
  content: '';
  width: 12px;
  height: 12px;
  background: url('../images/corner3.png') no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}
.ThingJS_wrap2 .ThingJS_s2c2 .main {
  position: relative;
}
.ThingJS_wrap2 .ThingJS_s2c2 .main::before {
  content: '';
  width: 335px;
  width: calc(100% + 22px);
  height: 39px;
  background: url('../images/corner1.png') no-repeat;
  background-position: 0 0;
  position: absolute;
  bottom: -39px;
  left: -22px;
}
.ThingJS_wrap2 .ThingJS_s2c3 .main {
  position: relative;
}
.ThingJS_wrap2 .ThingJS_s2c3 .main::before {
  content: '';
  width: calc(100% + 22px);
  height: 39px;
  background: url('../images/corner2.png') no-repeat;
  position: absolute;
  bottom: -39px;
  left: -22px;
}
.ThingJS_wrap2 .ThingJS_s2c4::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -12px;
  top: 50%;
  margin-top: -11px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 12px solid #ccc;
}
.ThingJS_wrap2 .ThingJS_s2c4::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  top: 50%;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 11px solid #fdfdfe;
}
.ThingJS_wrap2 .ThingJS_s2c5::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 19px;
  bottom: -12px;
  border-left: 4px solid transparent;
  border-right: 20px solid transparent;
  border-top: 12px solid #ccc;
}
.ThingJS_wrap2 .ThingJS_s2c5::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 20px;
  bottom: -10px;
  border-left: 4px solid transparent;
  border-right: 20px solid transparent;
  border-top: 11px solid #fdfdfe;
}
.ThingJS_wrap2 .panel20 {
  position: absolute;
  top: 0;
  left: 284px;
  height: 50px;
}
.ThingJS_wrap2 .panel19 {
  position: absolute;
  top: 0;
  right: 252px;
  width: 138px;
  height: 50px;
}
.ThingJS_wrap2 .panel1 {
  top: 208px;
  left: 465px;
  width: 183px;
}
.ThingJS_wrap2 .panel1 .dv-string {
  padding: 0;
}
.ThingJS_wrap2 .panel2 {
  top: 314px;
  left: 489px;
  width: 125px;
}
.ThingJS_wrap2 .panel3 {
  width: 143px;
  top: 431px;
  left: 472px;
}
.ThingJS_wrap2 .panel4 {
  width: 314px;
  top: 189px;
  left: 699px;
}
.ThingJS_wrap2 .panel4 .dv-string:nth-child(2) .p1 {
  border-top: none;
}
.ThingJS_wrap2 .panel5 {
  width: 314px;
  top: 464px;
  left: 725px;
}
.ThingJS_wrap2 .panel5 .dv-string .p1 .input1 {
  display: block;
}
.ThingJS_wrap2 .panel15 {
  position: absolute;
  top: 787px;
  left: 827px;
}
.ThingJS_wrap2 .panel15 .title .state::after {
  content: '';
  background: #3d414c;
}
.ThingJS_wrap2 .panel7 {
  top: 221px;
  left: 1111px;
  width: 314px;
}
.ThingJS_wrap2 .panel8 {
  top: 463px;
  left: 1095px;
  width: 314px;
}
.ThingJS_wrap2 .panel8 .dv-input:nth-child(2) .dv33 {
  border-top: none;
}
.ThingJS_wrap2 .panel9 {
  width: 314px;
  top: 683px;
  left: 727px;
}
.ThingJS_wrap2 .panel10 {
  width: 325px;
  top: 188px;
  left: 1455px;
}
.ThingJS_wrap2 .panel11 {
  width: 325px;
  top: 461px;
  left: 1456px;
}
.ThingJS_wrap2 .panel12 {
  width: 423px;
  top: 769px;
  left: 1455px;
}
.ThingJS_wrap2 .panel13 {
  width: 738px;
  top: 935px;
  left: 275px;
}
.ThingJS_wrap2 .panel14 {
  top: 501px;
  left: 372px;
  width: 314px;
}
.ThingJS_wrap2 .panel16 {
  width: 177px;
  top: 113px;
  left: 732px;
}
.ThingJS_wrap2 .panel17 {
  width: 124px;
  top: 67px;
  left: 277px;
  display: none;
}
.ThingJS_wrap2 .panel18 {
  width: 164px;
  top: 64px;
  left: 94px;
}
.ThingJS_wrap2 .panel21 {
  top: 469px;
  left: 108px;
}
.ThingJS_wrap2 .ThingJS_menu {
  width: 100%;
}
.ThingJS_wrap2 .ThingJS_menu .menu-container {
  width: 100%;
}
.ThingJS_wrap2 .ThingJS_menu .menu-container .menu-item {
  width: 100%;
  word-break: break-all;
  padding-right: 12px;
}
.ThingJS_Over {
  overflow: auto;
}
.ThingJS_Over::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  background: #f8f8f8;
  border-radius: 4px;
}
.ThingJS_Over::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  width: 2px;
  background: #c3c3c3;
  border: 2px solid #ffffff;
  border-radius: 4px;
}
.ThingJS_Over::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px #ffffff;
  border-radius: 4px;
  background: #c3c3c3;
}
