* {
    margin: 0;
    padding: 0;
}

.context-menu {
    width: fit-content;
    position: absolute;
    z-index: 99;
    padding: 5px 0;
    background: rgba(37 37 38);
    top: 118px;
    right: 10px;
}

.context-menu .context-menu-item {
    width: 220px;
    color: #d3d3d4;
    font-size: 13px;
    height: 26px;
    line-height: 26px;
    padding: 0px 10px 0px 26px;
    overflow: visible;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.context-menu .context-menu-item:not(:first-child) {
    margin-top: 10px;
}
/* .context-menu .context-spacer {
    margin: 5px 13px;
    height: 1px;
    background: #616162;
} */
.context-menu .context-menu-item:not(:first-child)::after{
    content: '';
    position: absolute;
    top: calc(0% - 5px);
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: calc(100% - 26px);
    background-color: #616162;
}

.context-menu-item:hover {
    /* background: rgba(255, 97, 16, 0.8); */
    background: #094670;
}

.context-menu-item .context-menu-item-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
}

.disable {
    pointer-events: none;
    color: #7d7c7c !important;
}