.edit{
    position: absolute;
}

.editButton{
    width: 30px;
    height: 30px;
    background-color: rgb(34, 35, 36);
    color: white;
    text-align: center;
    line-height: 30px;
    float: left;
    border-radius: 50%;
}
.editButton:hover{
    background-color: rgb(73, 74, 75);
    cursor: pointer;
}
.editButton.rotateButton{
    /* margin: 0px 5px; */
}
.editButton.moveButton{
    margin: 0px 5px;
    /* margin: 10px 0px 0px 0px; */
}
.editButton.upAndDownButton{
    margin: 10px 0px 0px 0px;
    display: none;
}
/* 操作面板 */
.sceneControllePanel {
    position: absolute;
    /* top: 10px;
    right: 16px; */
    background-color: #2b2d2f;
    border-radius: 2px;
    user-select: none;
    display: none;
    z-index: 2000;
}
.scenePosition-panel-close{
    position: absolute;
    top: 13.5px;
    right: 10px;
    color: #c6c6c6;
}
.sceneControllePanel-header {
    height: 40px;
    color: #c6c6c6;
    font-size: 12px;
    padding-left: 15px;
    line-height: 40px;
    border-bottom: 1px solid #1f2022c7;
}
.sceneControllePanel-body{
    padding-bottom: 15px;
    background-color: #323435;
}
.scenePosition-part {
    width: 100%;
    padding: 15px 5px;
}

.scenePosition-part-name {
    float: left;
    padding: 4px 0px 0px 10px;
}
.part-name {
    font-size: 12px;
    color: #c6c6c6;
}
.scenePosition-part-params {
    color: #c6c6c6;
}

.params-position-input {
    width: 100px;
    background-color: #1c1f20;
    color: #c6c6c6;
    height: 24px;
    border: 1px solid #4d5153;
    text-indent:5px;
}

.positionX {
    font-size: 12px;
    padding: 0px 0px 15px 68px;
}
.positionY{
    font-size: 12px;
    padding: 0px 0px 0px 68px;
}
.positionZ{
    padding: 0px 0px 0px 80px;
}

/* 角度设置 */
.sceneAngles-part{
    width: 100%;
    padding: 0px 0px 15px 15px;
}
.sceneAngles-part-name{
    float: left;
}
.sceneAngles-part-params{
    color: #c6c6c6;
    
}
.params-angles-input{
    width: 126px;
    background-color: #1c1f20;
    color: #c6c6c6;
    height: 24px;
    border: 1px solid #4d5153;
    text-indent:5px;
}
.angles{
    /* margin: 0px 0px 0px 84.5px; */
    margin: 0px 0px 0px 58.5px;
}

/* 园区离地高度 */
.sceneUpAndDown-part{
    padding: 0px 15px;
    color: #c6c6c6;
}
.sceneUpAndDown-part-name{
    float: left;
}
.upAndDown{
    /* margin: 0px 0px 0px 84.5px; */
    margin: 0px 0px 0px 58.5px;
}
.height-input{
    width: 126px;
    background-color: #1c1f20;
    color: #c6c6c6;
    height: 24px;
    border: 1px solid #4d5153;
    text-indent:5px;
}
/* 按钮 */
.sceneControllePanel-bottom{
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #1f2022c7;
}

.saveParams{
    border: none;
    background-color: #ff6110;
    border-radius: 3px;
    width: 25%;
    height: 25px;
    color: #fff;
    font-size: 12px;
    box-shadow: none;
    cursor: pointer;
    margin-right: 6%;
    margin-left: 22%;
}
.saveParams:hover{
    background-color: #ff8140;
}
.resetParams{
    width: 25%;
    height: 25px;
    color: #ccc;
    background-color: #57595b;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.resetParams:hover{
    color: #fff;
    background: rgba(123, 122, 122, 0.4);
}