@font-face {
    font-family: custom-icons;
    font-style: normal;
    font-weight: 400;
    src: url(../font/custom-icons.woff) format("woff"), url(../font/custom-icons.ttf) format("truetype")
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../font/OpenSans-Light.woff) format("woff"), url(../font/OpenSans-Light.ttf) format("truetype")
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../font/OpenSans-Regular.woff) format("woff"), url(../font/OpenSans-Regular.ttf) format("truetype")
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(../font/OpenSans-Semibold.woff) format("woff"), url(../font/OpenSans-Semibold.ttf) format("truetype")
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../font/OpenSans-Bold.woff) format("woff"), url(../font/OpenSans-Bold.ttf) format("truetype")
}

@font-face {
    font-family: DINPro;
    font-style: normal;
    font-weight: 400;
    src: url(../font/FF\ DIN\ Pro\ Bold\ Italic.otf)
}
*, :after, :before {
    box-sizing: border-box;
}

body, html {
    font-family: Open Sans, sans-serif;
}

#all-controls {
    position: absolute;
    right: 10px;
    bottom: 0%;
    width: auto;
    height: 30px;
    display: block;
}

.controls {
    position: absolute;
    right: 0%;
    bottom: 0%;
    display: flex!important;
    justify-content: flex-end;
    flex: 0 0 auto;
    font-size: 13px;
    pointer-events: none;
    align-items: center;
    flex-flow: row nowrap!important;
    margin-left: auto;
    padding: 10px 0px;
}

.control-item {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    line-height: 20px;
    border-radius: 16px;
    pointer-events: all;
    display: block;
    min-width: 0;
    outline: none;
    transition: background .2s linear;
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.control-item:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.control-item .control-menu, .control-item .control-second-menu {
    width: 130px;
    /* margin-left: -300%; */
    cursor: default;
    bottom: 40px;
    transform: translate(-50%, 0);
}

.select-menu {
    padding: 0!important;
    /* overflow: hidden; */
}

.control-menu, .control-second-menu {
    position: absolute;
    left: 50%;
    padding: 5px;
    font-family: Open Sans, sans-serif;
    font-size: .75rem;
    line-height: normal;
    color: #fff;
    text-align: initial;
    white-space: nowrap;
    pointer-events: none;
    background: rgba(0, 0, 0, .75);
    border-radius: 6px;
    opacity: 0;
    transition: opacity .3s, margin-left 0s .3s;
}

.control-item .actives {
    pointer-events: auto;
    opacity: 1;
    transition: opacity .3s, margin-left 0s;
}

.control-menu .control-menu-wrapper, .control-second-menu .control-second-menu-wrapper {
    display: flex;
    width: 96%;
    transition: all .25s ease-in-out;
    position: relative;
    left: 2%;
}

.control-menu .control-menu-wrapper .control-menu-pane, .control-second-menu .control-second-menu-wrapper .control-second-menu-pane {
    padding: 4px 0;
    flex: 1 1;
}

.control-menu .control-menu-wrapper .control-menu-pane .setting-list, .control-second-menu .control-second-menu-wrapper .control-second-menu-pane .setting-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.control-menu .control-menu-wrapper .control-menu-pane .setting-item, .control-second-menu .control-second-menu-wrapper .control-second-menu-pane .setting-item, .menu-name {
    position: relative;
    padding-left: 24px;
    line-height: 28px;
    color: #ccc;
    cursor: pointer;
    border-radius: 2px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.control-menu .control-menu-wrapper .control-menu-pane .setting-item:hover, .control-second-menu .control-second-menu-wrapper .control-second-menu-pane .setting-item:hover {
    background: #333;
}

.control-menu .control-menu-wrapper .control-menu-pane .setting-item.selected, .control-second-menu .control-second-menu-wrapper .control-second-menu-pane .setting-item.second-selected {
    padding-left: 0;
    color: #fff;
}

.control-menu .control-menu-wrapper .control-menu-pane .setting-item.selected:before, .control-second-menu .control-second-menu-wrapper .control-second-menu-pane .setting-item.second-selected:before {
    margin-right: 12px;
    margin-left: 4px;
    font-family: FontAwesome;
    font-size: 12px;
    color: #fff;
    content: "\F00C";
}

.control-menu .control-menu-wrapper .control-menu-pane .setting-item:not(:first-child):not(.setting-item-split), .control-second-menu .control-second-menu-wrapper .control-second-menu-pane .setting-item:not(:first-child):not(.setting-item-split) {
    /* border-top:1px solid #333; */
}

.control-menu .control-menu-wrapper .control-menu-pane .setting-item-split, .control-second-menu .control-second-menu-wrapper .control-second-menu-pane .setting-item-split {
    margin-top: 8px;
}

.control-menu .control-menu-wrapper .control-menu-pane .setting-item-split:after, .control-second-menu .control-second-menu-wrapper .control-second-menu-pane .setting-item-split:after {
    content: '';
    position: absolute;
    top: calc(0% - 4px);
    left: -2%;
    height: 1px;
    width: 104%;
    background-color: rgb(125, 125, 125);
}

.active {
    background: rgba(0, 0, 0, 0.75);
}

.tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 117%;
    left: 50%;
    margin-left: 0%;
    width: auto;
    padding: 5px 10px;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
    text-transform: none;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity .25s ease-in-out;
    transform: translateX(-50%);
    white-space: nowrap;
}

.tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.control-item:hover .tooltiptext {
    visibility: visible;
    pointer-events: none;
    z-index: 1000;
}

.btn-2d, .btn-3d, .btn-horizontal, .btn-vertical, .btn-skybox, .btn-fps, .btn-full-screen, .btn-narrow, btn-map, .btn-mapbg, .btn-setting, .btn-rotate {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 0 0 1px #000000;
    pointer-events: none;
}

.btn-2d {
    background-image: url("../img/2d.png");
}

.btn-3d {
    background-image: url("../img/3d.png");
    display: none;
}

.btn-skybox {
    background-image: url("../img/sky.png");
}

.btn-fps {
    background-image: url("../img/fps.png");
}

.btn-full-screen {
    background-image: url("../img/fullScreen.png");
}

.btn-narrow {
    background-image: url("../img/narrow.png");
    display: none;
}

.btn-map {
    background-image: url("../img/map.png");
}

.btn-mapbg {
    background-image: url("../img/mapbg.png");
}

.btn-horizontal {
    background-image: url("../img/horizontal.png");
}

.btn-vertical {
    background-image: url("../img/vertical.png");
}

.btn-setting {
    background-image: url("../img/setting.png");
}

.btn-rotate {
    background-image: url("../img/autoRotate.png");
}

#horizontalExpansion {
    display: none;
}

#verticalExpansion {
    display: none;
}

.viewHeight {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    max-width: 215px;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    line-height: 17px;
    color: #fff;
    background: #00000080;
    padding: 4px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.viewHeight div {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    /* width: auto;
    height: auto;
    white-space: nowrap;
    text-align: right;
    vertical-align: bottom; */
}
/* .viewHeight.up:before {
    margin-right: 4px;
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
    content: "\f176";
}

.viewHeight.down:before {
    margin-right: 4px;
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
    content: "\f175";
} */

.viewHeight .mbf-data input:focus{
    border-color: transparent !important;
    /* background-color: #0082F0 !important; */
    outline: 0;
}

.control-menu .control-second-menu {
    left: -53%;
    bottom: -4px;
    pointer-events: auto;
    user-select: auto;
    display: none;
    opacity: 1;
}

.control-menu .control-menu-wrapper .control-menu-pane .setting-item:hover .control-second-menu {
    display: block;
}

.z-code {
    z-index: 10050;
}

.popup-panel, .qrcode {
    font-size: 12px;
    z-index: 10000;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.popup-panel-bg {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.popup-panel-position {
    display: table-cell;
    vertical-align: middle;
}

.popup-panel-content, .share-code-content {
    width: 498px;
    height: auto;
    /* top: 50%; */
    padding: 20px;
    border-radius: 5px;
    background-color: #2B2D2F;
    -webkit-box-shadow: 0 0 5em 0.5em rgba(0, 0, 0, .2);
    box-shadow: 0 0 5em 0.5em rgba(0, 0, 0, .2);
    box-sizing: unset;
    word-wrap: break-word;
    word-break: break-word;
}

.share-code-content {
    width: 197px;
}

.a-move-in-top {
    -webkit-animation: move-in-top cubic-bezier(.22, .58, .12, .98) .4s;
    animation: move-in-top cubic-bezier(.22, .58, .12, .98) .4s;
}

.m-auto {
    margin: 0 auto;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
    display: table;
}

.bg-center {
    background-position: 50%;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.pointer {
    cursor: pointer;
}

.t-center {
    text-align: center;
}

.f-family {
    font-family: Arial, Microsoft YaHei, Microsoft Sans Serif, Microsoft SanSerf, \\5FAE\8F6F\96C5\9ED1;
}

.popup-panel .title-ctnr, .qrcode .title-ctnr {
    padding-bottom: 5px;
}

.popup-panel .popup-title, .qrcode .popup-title {
    margin: 0;
    color: #c6c6c6;
    font-weight: 400;
    font-size: 18px;
}

.qrcode .popup-title {
    font-size: 14px;
}

.popup-panel .popup-content, .qrcode .popup-content {
    font-size: 12px;
}

.share-ctnr {
    margin-top: 19px;
}

.dp-i-block {
    display: inline-block;
}

.v-bottom {
    vertical-align: bottom;
}

.v-middle {
    vertical-align: middle;
}

.share-right-part {
    margin-left: 5px;
    margin-right: 5px;
}

.share-icon-item {
    width: 38px;
    height: 38px;
    text-align: center;
    margin-right: 16px;
}

.share-icon-item .icon-font {
    font-size: 24px;
    line-height: 38px;
    color: white;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.b-circle {
    border-radius: 50%;
}

.i-weibo {
    background-color: #db252a;
}

.i-qq {
    background-color: #68a5e1;
}

.i-weixin {
    background-color: #4CD863
}

.i-qiyeweixin {
    background-color: #0082F0
}

.share-addr-ctnr {
    text-align: right;
}

.share-addr-item {
    margin-top: 16px;
}

.share-addr-name {
    font-size: 14px;
    color: #c6c6c6;
    margin-right: 5px;
}

.share-addr-wrapper {
    height: 32px;
    width: 346px;
    border: 1px solid #4d5153;
    border-radius: 4px;
    margin-right: 8px;
    line-height: 32px;
    padding: 0 4px;
    background: none;
    color: #c6c6c6;
}

.border-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    font-family: Arial, Microsoft YaHei, Microsoft Sans Serif, Microsoft SanSerf, \\5FAE\8F6F\96C5\9ED1;
}

button, input {
    overflow: visible;
}

button.share-copy-button {
    min-width: 64px;
}

.bl-button {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    padding: 6px 12px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.bl-button>.txt {
    position: relative
}

.bl-button--size {
    min-width: 104px;
    height: 32px;
    font-size: 14px;
}

.bl-button--ghost {
    color: #ccc;
    border-radius: 3px;
    background-color: #57595b;
    border-color: #dcdee2;
}

.bl-button--ghost:hover {
    color: #fff;
    background: rgba(123, 122, 122, 0.4);
}

.bl-button--ghost:active {
    color: #fff;
    background: rgba(123, 122, 122, 0.7);
}

.bl-button--ghost:disabled {
    border-color: #d0d7dd;
    background-color: transparent;
    color: #b4b4b4;
}

button {
    text-transform: none;
}

button, input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    outline-color: rgba(123, 122, 122, 0.7);
}

::selection {
    background: #e69748;
    color: #fff;
}

.share-qr-hint {
    font-size: 14px;
    color: #C6C6C6;
    letter-spacing: .15px;
    margin-bottom: 16px;
}

.share-qr-ctnr {
    width: 187px;
    height: 187px;
    border-radius: 2px;
    background-color: #ececec;
    background-size: contain;
}

.share-qr-ctnr canvas {
    position: relative;
    left: 50.5%;
    top: 50%;
    transform: translate(-50%, -50%)
}

canvas {
    display: inline-block;
}

.dp-none {
    display: none;
}

.popup-panel .close-btn, .qrcode .close-btn {
    width: 20px;
    height: 20px;
    right: 12px;
    top: 12px;
    color: #999;
    line-height: 20px;
    -webkit-transition: all .3s cubic-bezier(.22, .58, .12, .98);
    -o-transition: all cubic-bezier(.22, .58, .12, .98) .3s;
    transition: all .3s cubic-bezier(.22, .58, .12, .98);
}

.popup-panel .close-btn:hover, .qrcode .close-btn:hover {
    color: #c5c5c5
}

.popup-panel .close-btn:hover, .qrcode .close-btn:hover {
    -webkit-transform: rotate(180deg) scale(1.1);
    -ms-transform: rotate(180deg) scale(1.1);
    transform: rotate(180deg) scale(1.1)
}

.popup-panel .close-btn:active, .qrcode .close-btn:active {
    -webkit-transform: rotate(180deg) scale(1);
    -ms-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important
}

.cpy {
    z-index: -19;
    position: absolute;
    top: 0px;
    left: 10px;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.alert-message {
    font-size: 14px;
    position: absolute;
    width: 100%;
    pointer-events: none;
    top: 50%;
    opacity: 0;
    display: none;
    z-index: 10050;
}

.alert-message .alert-message-notice {
    height: 54px;
    margin-top: -8px;
    padding: 8px;
    text-align: center;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.alert-message .alert-message-notice .alert-message-notice-content {
    display: inline-block;
    pointer-events: all;
    padding: 10px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    background: #171717;
    position: relative;
}

.alert-message .alert-message-notice .alert-message-notice-content .alert-message-notice-content-text {
    display: inline-block;
}

.alert-message .alert-message-notice .alert-message-notice-content .alert-message-notice-content-text span {
    color: #ccc;
}

.alert-message .alert-message-notice .alert-message-notice-content .alert-message-notice-content-text .alert-message-success i {
    color: #19be6b;
}

.alert-message .alert-message-notice .alert-message-notice-content .alert-message-notice-content-text .alert-message-error i {
    margin-right: 5px;
    color: #ed4014;
}

@-webkit-keyframes alert-message-show {
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes alert-message-show {
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.alert-message-show {
    -webkit-animation: alert-message-show 0.2s ease-in-out both;
    animation: alert-message-show 0.2s ease-in-out both;
}

@-webkit-keyframes alert-message-hide {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }
}

@keyframes alert-message-hide {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }
}

.alert-message-hide {
    -webkit-animation: alert-message-hide 0.2s ease-in-out both;
    animation: alert-message-hide 0.2s ease-in-out both;
}

.alert-message .icon-font {
    font-size: 16px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shareTip {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 1;
    z-index: 10001;
    display: none;
}

.shareTip .share-tip {
    position: absolute;
    top: 10px;
    right: 15px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../img/mshare.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    z-index: 10009;
}