.pre-panelModel-presonSetting {
    float: right;
    top: 10px;
    right: 15px;
    z-index: 999;
    width: 325px;
    background: #2b2d2f;
    border-radius: 2px;
    font-size: 14px;
    z-index: 9;
    position: absolute;
}

.pre-panelModel-presonSetting .pre-panelModel {
    font-size: 14px;
    z-index: 9;
    background: #ffffff;
    border-radius: 3px;
    position: relative;
    font-family: "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    ;
}

.pre-panelModel-presonSetting .pre-panelModel .pre-panelHeader {
    height: 41px;
    line-height: 41px;
    font-size: 14px;
    padding-left: 40px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
}

.pre-panelModel-presonSetting .pre-panelModel .pre-panelHeader, .pre-panelModel-presonSetting .pre-panelModel .pre-secondHeader {
    background: none;
    border-bottom: 1px solid #1f2022c7;
    height: 30px;
    line-height: 30px;
}

.pre-panelModel-presonSetting .pre-panelModel .pre-panelHeader .pre-panelTitle {
    color: #c6c6c6;
    font-size: 12px;
    background: none;
    height: 30px;
    line-height: 30px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
}

.pre-panelModel-presonSetting .pre-panelModel .pre-panelHeader .pre-panelTitle {
    cursor: default;
    margin-left: -25px;
    padding: 0;
    font-style: normal;
    line-height: 2.5;
}

.pre-panelModel-presonSetting .pre-panelModel {
    background: #2b2d2f;
    border-radius: 2px;
    border-top: 1px solid rgba(76, 80, 85, 0.41);
}

.pre-panelModel-presonSetting .pre-panelModel .pre-panelHeader .pre-panelIcon {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 5px;
    right: 5px;
}

.pre-panelModel-presonSetting .pre-panelIcon .icon-close.pre-close {
    color: #8f9091;
    font-size: 14px;
    font-weight: bold;
    z-index: 50;
    cursor: pointer;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 22px;
}

.pre-panelModel-presonSetting .pre-panelIcon .icon-close.pre-close:hover {
    color: rgba(255, 255, 255, 0.7)
}

.pre-panelModel-presonSetting .pre-panelIcon .icon-close.pre-close {
    font-size: 14px;
}

.pre-panelModel-presonSetting .pre-panelModel .pre-secondHeader .pre-second-setting-list {
    height: 29px;
}

.pre-panelModel-presonSetting .pre-second-setting-list {
    height: 30px;
    background: #2c2e2f;
    position: static;
    z-index: inherit;
    overflow: hidden;
}

.pre-panelModel-presonSetting .pre-second-setting-list li {
    float: left;
    list-style: none;
}

.pre-panelModel-presonSetting .pre-second-setting-list .btn {
    color: #b4b4b4;
    padding: 2px 7px;
    cursor: pointer;
    width: 30px;
    height: 23px;
    border-radius: 1px;
    margin-top: 3px;
    margin-left: 2px;
}

.pre-panelModel-presonSetting .pre-second-setting-list .btn span {
    font-size: 13px;
    font-weight: 600;
}

.pre-panelModel-presonSetting .pre-second-setting-list li span {
    cursor: pointer;
}

.pre-panelModel-presonSetting span {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.pre-panelModel-presonSetting .pre-second-setting-list .active.btn {
    background: #1c3e55;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}

.btn {
    font-size: 14px;
}

.btn {
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.pre-panelModel-presonSetting .pre-panelModel .pre-panelBody {
    color: #c6c6c6;
}

.pre-panelModel .pre-panelBody {
    width: 100%;
}

.pre-panelModel-presonSetting .pre-params-setting-body {
    background: no-repeat;
    border: none;
    border-radius: 0;
    width: 325px;
    height: calc(100% - 104px);
    font-size: 12px;
    padding: 10px 10px;
}

.pre-params-setting-list {
    height: 481px;
    overflow: auto;
}

.pre-panelModel-presonSetting .pre-params-setting-list {
    height: 481px;
    overflow: auto;
}

.pre-params-setting {
    height: 100%;
    padding: 6px;
    overflow-y: auto;
}

.pre-params-setting .pre-params-setting-param {
    height: auto;
    width: 100%;
}

.pre-params-setting .pre-params-setting-param .pre-params-setting-param-header {
    width: auto;
}

.pre-params-setting-param-header .pre-params-setting-param-title {
    color: #c6c6c6;
    font-size: 12px;
    background-color: #2b2d2f;
    padding-right: 4px;
}

.pre-params-setting-param-header .pre-params-setting-param-title-line {
    height: 1px;
    width: 100%;
    background-color: #c6c6c6;
    position: relative;
    top: -8px;
    z-index: -1;
    opacity: 0.7;
}

.pre-params-setting .pre-params-setting-param .pre-params-setting-param-body {
    padding: 8px;
}

.pre-params-setting .pre-params-setting-param .pre-params-setting-param-body .pre-params-setting-param-row {
    height: 28px;
}

.pre-params-setting .pre-params-setting-param .pre-params-setting-param-body .pre-params-setting-param-row .pre-params-setting-param-content {
    display: inline-block;
}

.pre-params-setting .pre-params-setting-param .pre-params-setting-param-body .pre-params-setting-param-row .pre-params-setting-param-data-content {
    display: inline-block;
}

.pre-panelModel-presonSetting .pre-params-switch {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-right: 170.5px;
    width: 24px;
    height: 12px;
    margin-top: 6px;
}

.pre-panelModel-presonSetting .pre-params-switch .btn_fath {
    width: 24px;
    height: 12px;
    background-color: #1c1f20;
}

.pre-panelModel-presonSetting .autoRotation-switch {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-right: 170.5px;
    width: 24px;
    height: 12px;
    margin-top: 6px;
}

.pre-panelModel-presonSetting .autoRotation-switch .btn_fath {
    width: 24px;
    height: 12px;
    background-color: #1c1f20;
}

.pre-panelModel-presonSetting .btn_fath {
    position: relative;
    border-radius: 5px;
}

.pre-panelModel-presonSetting .clearfix {
    zoom: 1;
}

.pre-panelModel-presonSetting .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.pre-panelModel-presonSetting .pre-params-switch .btn_fath .move {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    background: #636161;
}
.pre-panelModel-presonSetting .autoRotation-switch .btn_fath .move {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    background: #636161;
}

.pre-panelModel-presonSetting .btn_fath>.move {
    z-index: 100;
    position: absolute;
    cursor: pointer !important;
}

.pre-panelModel-presonSetting .btn_fath .btnSwitch {
    display: none;
}

.pre-panelModel-presonSetting .btnSwitch {
    height: 20px;
    width: 25px;
    border: none;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    z-index: 1;
    margin: 0 2px;
}

.pre-panelModel-presonSetting .btn1 {
    float: left;
}

.pre-panelModel-presonSetting .btn2 {
    float: right;
}

.pre-panelModel-presonSetting .on .move {
    background: #fff;
}

.pre-panelModel-presonSetting .on.btn_fath {
    background-color: #f6931f;
}

.pre-panelModel-presonSetting .off.btn_fath {
    background-color: #1c1f20;
}

.pre-params-setting .pre-params-setting-param .pre-params-setting-param-body .pre-params-setting-param-row .inputBox {
    font-family: MicrosoftYaHeiUI;
    color: #ccc;
    font-size: 12px;
    text-align: left;
    outline: none;
    width: 69px;
    height: 24px;
    margin-left: 43px;
    margin-top: 0;
    background: #1c1f20;
    border-radius: 2px;
    border: 1px solid #4d5153;
}

.pre-params-setting-param-row.pre-switch-config-item.pre-params-setting-disable span{
    color: #6d6f6f;
}

.pre-params-setting-param-row.pre-switch-config-item.pre-params-setting-disable input{
    opacity: .5;
    cursor: not-allowed;
}
.pre-params-setting-param-reset {
    width: 25px;
    height: 18px;
    right: 18px;
    cursor: pointer;
    position: absolute;
}
.pre-params-setting-param-reset:hover{
    color: #f6931f;
}

.pre-panelModel-presonSetting .pre-save {
    text-align: center;
    background: none;
    height: 50px;
    line-height: 50px;
    /* margin: 0 8px; */
    box-shadow: none;
    font-size: 14px;
    border-top: 1px solid #000;
}

.pre-panelModel-presonSetting .pre-save .pre-baocun {
    outline: none;
    border: none !important;
    background-color: #ff6110 !important;
    border-radius: 3px;
    width: 75px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 0 8px;
    box-shadow: none;
    cursor: pointer;
}
.pre-panelModel-presonSetting .pre-save .pre-reset {
    outline: none;
    border: none !important;
    background-color: rgba(123, 122, 122, 0.4) !important;
    border-radius: 3px;
    width: 75px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 0 8px;
    box-shadow: none;
    cursor: pointer;
}

.planeToHidden{
    display: none;
}