.pre-chart-content{
    position: relative;
    width:858px; 
    height: 483px;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -100%);
    background-color: #2b2d2f;
    box-shadow: 1px 4px 23px 6px rgb(0 0 0 / 15%);
    border-radius: 3px;
    box-sizing: content-box;
    z-index: 100;
}
.pre-chart-content.panel-show{
    animation: showPanel .5s;
}
.pre-chart-content.panel-hidden{
    animation: hiddenPanel .5s;
}
@keyframes showPanel{
    from{
        transform: translate(-50%, -0%);
    }
    to{
        transform: translate(-50%, -100%);
    }
}
@keyframes hiddenPanel{
    from{
        transform: translate(-50%, -100%);
    }
    to{
        transform: translate(-50%, -0%);
    }
}
.pre-chart-content span{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.pre-chart-title{
    height: 40px;
    position: relative;
    border-bottom: 1px solid #1f2022c7;
    color: #c6c6c6;
}
p{
    margin: 0;
    padding: 0;
}
.pre-chart-title p{
    font-size: 15px;
    font-weight: 700;
    line-height: 41px;
    width: 120px;
    display: inline-block;
    margin-left: 10px;
}
.pre-chart-btn{
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
}
.pre-chart-btn span{
    cursor: pointer;
}
.pre-chart-btn .pre-thumb{
    position: relative;
    top: 8px;
    margin-right: 50px;
    transform: rotate(45deg);
    display: inline-block;
}
.pre-chart-btn .pre-close{
    position: relative;
    top: 8px;
    margin-right: 10px;
    display: inline-block;
}
.pre-template-content{
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
}
.pre-template-content .pre-template-list{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #fff;
    font-size: 12px;
    margin: 0;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pre-template-content .pre-template-list .pre-template-item{
    width: 258px;
    height: 184px;
    box-shadow: 0 0 10px -6px #000;
    border: 1px solid #3a4659;
    margin: 8px;
    transition: .2s;
    outline: 1px solid transparent;
    cursor: default;
}
.pre-template-content .pre-template-list .pre-template-item .pre-template-image{
    width: 100%;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    position: relative;
}
.pre-template-content .pre-template-list .pre-preview-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.pre-template-content .pre-template-list .pre-preview-image::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #131e2d;
    background-image: url('../image/new/logo-w.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: grayscale(1);
    opacity: .36;
}
.pre-template-content .pre-template-list .pre-template-mask{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    transition: .2s;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    font-weight: 400;
}
.pre-template-btn{
    line-height: 16px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    line-height: 32px;
    padding: 0 30px;
    box-sizing: border-box;
    outline: 0;
    text-align: center;
    background: #FF6110;
    border: none;
    font-weight: 400;
    transition: .3s ease;
    cursor: pointer;
}
.pre-template-btn:hover{
    background:#ff8140;
}
.pre-template-btn.current-btn{
    height: 32px;
    line-height: 32px;
    padding: 0 30px;
}
.pre-template-btn.current-outline{
    line-height: 16px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #FF6110;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pre-template-btn.current-outline:hover{
    color:#fff;
    background:#ff8140;
    border-color:#ff8140;
    background-clip:border-box
}
.pre-template-btn .template-btn-text{
    vertical-align: middle;
}
.pre-chart-content .pre-template-list .pre-template-mask .pre-template-create{
    width: 112px;
    padding: 0 5px;
}
.pre-chart-content .pre-template-list .pre-template-mask .pre-template-preview{
    margin-top: 10px;
    width: 112px;
    padding: 0 5px;
}
.pre-chart-content span{
    color: inherit;
}
.pre-chart-content .pre-template-list .pre-template-item .pre-template-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 36px;
    background: #212121;
    transition: .2s;
}
.pre-chart-content .pre-template-list .pre-template-name{
    font-size: 12px;
}
.pre-chart-content .pre-template-list .pre-template-size{
    color: #999;
    text-align: right;
    font-family: Orbitron-Bold,PingFangSC-Medium,PingFang SC,Microsoft YaHei,Arial,Helvetica,sans-serif;
}
.pre-chart-content .pre-template-list .pre-template-item:hover{
    outline:1px solid #FF6110;
}
.pre-chart-content .pre-template-list .pre-template-item:hover .pre-template-mask{
    pointer-events:all;
    opacity:1
}
.pre-chart-content .pre-template-list::-webkit-scrollbar{
    width:4px
}
.pre-chart-content .pre-template-list::-webkit-scrollbar-track{
    background:0 0
}
.pre-chart-content .pre-template-list::-webkit-scrollbar-thumb{
    border-radius:5px;
    border:none
}