.highlight {
    background-color: #FF7A1E;
}

.modelView-tableList {
    display: none;
}

.preModelView-creatPlayModelPanel {
    position: absolute;
    width: 200px;
    height: 65px;
    top: 3.2%;
    right: 645px;
    background-color: rgba(0, 0, 0, 0.75);
    transform: scale(0.85);
}

.preModelView-creatPlayModelPanel .info-panel-name {
    position: absolute;
    width: auto;
    height: 30px;
    top: 10px;
    color: #fff;
    left: 10px;
    font-size: 16px;
}

.preModelView-creatPlayModelPanel .info-panel-title {
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 15px;
    font-family: 'bigyong';
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    background-image: url('../img/modelView/close.png');
    background-size: 100% 100%;
    cursor: pointer;
}

.preModelView-creatPlayModelPanel .info-panel-info {
    position: relative;
    top: 40px;
    left: 10px;
    width: auto;
    height: 38px;
}

.preModelView-creatPlayModelPanel .panel-info {
    position: relative;
    top: -10px;
    width: 100%;
    height: 34px;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
}

.preModelView-creatPlayModelPanel .panel-info-key {
    position: relative;
    display: inline-block;
    width: auto;
    height: 34px;
    line-height: 34px;
}

.preModelView-creatPlayModelPanel .panel-info-value {
    position: relative;
    display: inline-block;
    width: auto;
    height: 34px;
    line-height: 34px;
    text-overflow: clip;
}

/* 底部按钮样式 */
.preModelView-cssStyle-bottomButton .functionbutton {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    pointer-events: auto;
    position: relative;
    float: left;
    font-weight: 30px;
    overflow: hidden;
    margin-right: 15px;
    cursor: pointer;
}

.preModelView-cssStyle-bottomButton .mouseen-color:hover {
    background-color: rgba(255, 128, 0, 0.75);
}
.preModelView-cssStyle-bottomButton .onon:hover {
    background-color: rgba(110, 110, 110, 0.75);
    cursor: default;
}
.preModelView-cssStyle-bottomButton .span1 {
    width: auto;
    height: 30px;
    color: #ff8000;
    display: inherit;
    float: left;
    padding-right: 1px;
    max-width: inherit;
}

.preModelView-cssStyle-bottomButton .span2 {
    width: auto;
    height: 30px;
    color: white;
    display: inherit;
    float: right;
    max-width: inherit;
}

/* 鼠标滑过事件 */
.preModelView-cssStyle-bottomButton .enter-text {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 32px;
    left: 44%;
    width: auto;
    padding: 3px 5px;
    font-family: Open Sans, sans-serif;
    font-size: 10px;
    line-height: 17px;
    color: #fff;
    text-transform: none;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity .25s ease-in-out;
    transform: translateX(-50%);
    white-space: nowrap;
}

.preModelView-cssStyle-bottomButton .enterin:hover .enter-text {
    visibility: visible;
    z-index: 1000;
}

.preModelView-cssStyle-bottomButton .enter-text1 {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 32px;
    left: 5%;
    margin-left: 0%;
    width: auto;
    padding: 3px 5px;
    font-family: Open Sans, sans-serif;
    font-size: 10px;
    line-height: 17px;
    color: #fff;
    text-transform: none;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity .25s ease-in-out;
    transform: translateX(-50%);
    white-space: nowrap;
}

.preModelView-cssStyle-bottomButton .enterin1:hover .enter-text1 {
    visibility: visible;
    z-index: 1000;
}

.preModelView-cssStyle-bottomButton .enter-text2 {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 32px;
    left: 59%;
    width: auto;
    padding: 3px 5px;
    font-family: Open Sans, sans-serif;
    font-size: 10px;
    line-height: 17px;
    color: #fff;
    text-transform: none;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity .25s ease-in-out;
    transform: translateX(-50%);
    white-space: nowrap;
}

.preModelView-cssStyle-bottomButton .enterin2:hover .enter-text2 {
    visibility: visible;
    z-index: 1000;
}

.preModelView-cssStyle-bottomButton .enter-text3 {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 32px;
    left: 74%;
    width: auto;
    padding: 3px 5px;
    font-family: Open Sans, sans-serif;
    font-size: 10px;
    line-height: 17px;
    color: #fff;
    text-transform: none;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity .25s ease-in-out;
    transform: translateX(-50%);
    white-space: nowrap;
}

.preModelView-cssStyle-bottomButton .enterin3:hover .enter-text3 {
    visibility: visible;
    z-index: 1000;
}

.preModelView-cssStyle-bottomButton .enter-text4 {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 32px;
    right: -2%;
    width: auto;
    padding: 3px 5px;
    font-family: Open Sans, sans-serif;
    font-size: 10px;
    line-height: 17px;
    color: #fff;
    text-transform: none;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity .25s ease-in-out;
    transform: translateX(-50%);
    white-space: nowrap;
}

.preModelView-cssStyle-bottomButton .enterin4:hover .enter-text4 {
    visibility: visible;
    z-index: 1000;
}
.preModelView-layui-table-thead-tr-pic{
    width: 15px;
    height: 15px;
    position: relative;
    left: 9px;
    top: 3px;
    display: inline-block;
    background-image: url('../img/modelView/illustrate.png');
    background-size: 100% 100%;
}
.preModelView-layui-table-thead-tr-hover{
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: -27px;
    left: 13px;
    width: auto;
    padding: 3px 5px;
    font-family: Open Sans, sans-serif;
    font-size: 10px;
    line-height: 17px;
    color: #fff;
    text-transform: none;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity .25s ease-in-out;
    transform: translateX(-50%);
    white-space: nowrap;
}
.preModelView-layui-table-thead-tr-pic:hover .preModelView-layui-table-thead-tr-hover{
    visibility: visible;
    z-index: 1000;
}

.model-creatModelCards-stand-span {
    top: -5px;
    left: -72px;
    width: 200px;
    height: 20px;
    text-align: center;
}

/* 更多按钮拓展 */
.preModelView-cssStyle-bottomButton .expand-list {
    width: 100px;
    cursor: default;
    bottom: -51px;
    transform: translate(-50%, 0);
    position: absolute;
    right: -27%;
    font-family: Open Sans, sans-serif;
    font-size: .75rem;
    line-height: normal;
    color: #fff;
    text-align: initial;
    white-space: nowrap;
    background: rgba(0, 0, 0, .75);
    border-radius: 6px;
}

.preModelView-cssStyle-bottomButton .sel-list {
    padding: 0 !important;
    /* overflow: hidden; */
}

.preModelView-cssStyle-bottomButton .expand-list-wrapper {
    display: flex;
    width: 96%;
    transition: all .25s ease-in-out;
    left: 14%;
}

.preModelView-cssStyle-bottomButton .expand-list .expand-list-wrapper .expand-list-pane {
    flex: 1 1;
}

.preModelView-cssStyle-bottomButton .morethan-item .expand-list .expand-list-wrapper .expand-list-pane {
    position: relative;
    padding-left: 24px;
    line-height: 28px;
    color: #ccc;
    border-radius: 2px;
}

.preModelView-cssStyle-bottomButton .morethan-item {
    padding: 4px 0;
}

.preModelView-cssStyle-bottomButton .morethan-line {
    content: '';
    position: absolute;
    top: calc(0% - -24px);
    left: -14%;
    height: 1px;
    width: 104%;
    background-color: rgb(125, 125, 125);
}

.preModelView-cssStyle-bottomButton .model-addRightPict {
    position: absolute;
    right: 12px;
    bottom: 2px;
    width: 20px;
    height: 20px;
}

.preModelView-cssStyle-bottomButton .checkButton-addPic {
    position: absolute;
    background-image: url('../img/modelView/check.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    right: 13px;
    margin-top: -21px;
}

.preModelView-cssStyle-bottomButton .model-totate {
    position: relative;
    margin-right: 12px;
    margin-left: 4px;
    font-family: FontAwesome;
    font-size: 12px;
    color: #fff;
}

.preModelView-cssStyle-bottomButton .model-play {
    position: relative;
    margin-right: 12px;
    margin-left: 4px;
    font-family: FontAwesome;
    font-size: 12px;
    color: #fff;
}

.preModelView-cssStyle-bottomButton .functionbutton-button1 .funbutton1 {
    width: 30px;
    height: 30px;
    display: table-cell;
    background-image: url('../img/modelView/last.png');
    background-size: 100% 100%;
}

.preModelView-cssStyle-bottomButton .functionbutton-button2 .funbutton2 {
    width: 30px;
    height: 30px;
    display: table-cell;
    background-image: url('../img/modelView/next.png');
    background-size: 100% 100%;
}

.preModelView-cssStyle-bottomButton .functionbutton-button3 .funbutton3 {
    width: 30px;
    height: 30px;
    display: table-cell;
}

.preModelView-cssStyle-bottomButton .playAnim {
    background-image: url('../img/modelView/play.png');
    background-size: 100% 100%;
}

.preModelView-cssStyle-bottomButton .delPlayAnim {
    background-image: url('../img/modelView/suspend.png');
    background-size: 100% 100%;
}

.preModelView-cssStyle-bottomButton .functionbutton-button4 .funbutton4 {
    width: 30px;
    height: 30px;
    display: table-cell;
    background-image: url('../img/modelView/stop.png');
    background-size: 100% 100%;
}

.preModelView-cssStyle-bottomButton .functionbutton-button5 .funbutton5 {
    display: table-cell;
    width: 23px;
    height: 23px;
    left: 3px;
    top: 3px;
    position: absolute;
    background-image: url('../img/modelView/more.png');
    background-size: 100% 100%;
}

.model-creatModelCards-stand {
    height: 54px;
    position: absolute;
    width: 54px;
    background-image: url('../img/modelView/modelTopcard.png');
    background-size: 100% 100%;
}

.model-creatModelCards-stand span {
    position: absolute;
    width: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 3px;
    font-size: 12px;
    z-index: 10;
}

.layui-box,
.layui-box * {
    box-sizing: content-box
}

.layui-laypage {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin: 7px 0;
    font-size: 0
}

.layui-laypage>a:first-child,
.layui-laypage>a:first-child em {
    border-radius: 2px 0 0 2px
}

.layui-laypage>a:last-child,
.layui-laypage>a:last-child em {
    border-radius: 0 2px 2px 0
}

.layui-laypage>:first-child {
    margin-left: 0 !important
}

.layui-laypage>:last-child {
    margin-right: 0 !important
}

.layui-laypage button,
.layui-laypage select {
    border: 1px solid #e2e2e2
}

.layui-laypage a,
.layui-laypage span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding: 0 12px !important;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #2B2D2F !important;
    font-size: 12px;
    border-style: none !important;
    color: #FFF !important;
}

.layui-flow-more a *,
.layui-laypage input,
.layui-table-view select[lay-ignore] {
    display: inline-block
}

.layui-laypage a:hover {
    color: #009688
}

.layui-laypage em {
    font-style: normal
}

.layui-laypage .layui-laypage-spr {
    color: #999;
    font-weight: 700
}

.layui-laypage a {
    text-decoration: none
}

.layui-laypage .layui-laypage-curr {
    position: relative
}

.layui-laypage .layui-laypage-curr em {
    position: relative;
    color: #FFF
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: #009688
}

.layui-laypage-em {
    border-radius: 2px
}

.layui-laypage-next em,
.layui-laypage-prev em {
    font-family: Sim sun;
    font-size: 16px
}

.layui-table-page .layui-laypage .layui-laypage-prev {
    margin-left: -7px !important
}

.layui-laypage .layui-laypage-count,
.layui-laypage .layui-laypage-limits,
.layui-laypage .layui-laypage-refresh,
.layui-laypage .layui-laypage-skip {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 !important;
    border: none
}

.layui-laypage .layui-laypage-limits,
.layui-laypage .layui-laypage-refresh {
    vertical-align: top
}

.layui-laypage .layui-laypage-refresh i {
    font-size: 18px;
    cursor: pointer
}

.layui-laypage select {
    height: 22px;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer
}

.layui-laypage .layui-laypage-skip {
    height: 30px;
    line-height: 30px;
    color: #999
}

.layui-laypage button,
.layui-laypage input {
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    background-color: #2B2D2F !important;
    color: #fff !important;
    border: none !important;
}

.layui-laypage input {
    width: 40px;
    margin: 0 10px;
    padding: 0 3px;
    text-align: center
}

.layui-laypage select:focus {
    border-color: #009688 !important
}

.layui-laypage button {
    margin-left: 10px;
    padding: 0 10px;
    cursor: pointer
}

.layui-table-page .layui-laypage a,
.layui-table-page .layui-laypage span.layui-laypage-curr {
    padding: 0 12px
}

.layui-table-page .layui-laypage .layui-laypage-curr .layui-laypage-em {
    left: 0;
    top: 0;
    padding: 0
}

.layui-btn,
.layui-disabled,
.layui-icon,
.layui-unselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.layui-disabled,
.layui-disabled:hover {
    color: #d2d2d2 !important;
    cursor: not-allowed !important
}

.layui-form-checkbox,
.layui-form-select dl dd.layui-disabled {
    background-color: #fff
}

.layui-select-disabled .layui-disabled {
    border-color: #eee !important
}

.layui-layedit-tool .layui-disabled,
.layui-layedit-tool .layui-disabled:hover {
    color: #d2d2d2;
    cursor: not-allowed
}

.layui-slider-wrap-btn.layui-disabled:hover {
    transform: scale(1) !important
}

.layui-table tbody tr:hover,
/* .layui-table thead tr, */
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even) {
    background-color: #FF7A1E !important
}
