#pre-topcard-setting{
    left: 341px;
    top: 10px;
}
#pre-topcard-setting .pre-panelBody .pre-params-setting-list{
    height: 481px;
}
.pre-setting-popup{
    width: 288px;
    z-index: 9;
    position: absolute;
    top: 40px;
    left: 360px;
    /* overflow: hidden; */
    background: #2b2d2f;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 1px 4px 23px 6px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(76, 80, 85, 0.41);
    font-family: "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.pre-setting-popup .pre-popup-touch-bar{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 30px;
    cursor: move;
}
.pre-setting-popup .pre-setting-popup-cancel{
    font-size: 18px;
    color: #c6c6c6;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 5px;
}
.pre-setting-popup .pre-pupop-close{
    font-size: 8px;
    color: #8f9091;
	font-weight: bold;
	z-index: 50;
	text-align: center;
    line-height: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.pre-setting-popup .pre-pupop-close:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}
.pre-setting-popup .pre-sub-title{
    width:100%;
    height:30px;
    margin: 0;
    padding-left: 16px;
    line-height:30px;
    font-size:12px;
    color:rgba(255,255,255,0.8);
	border-bottom:1px solid #1c1f20;
    background: #2b2d2f;
}
.pre-setting-popup .pre-sub-title-name{
    position: absolute;
    top: 4px;
    margin-left: 30px;
    line-height: 24px;
    font-size: 12px;
    color: rgba(255,255,255,0.8);
    cursor: default;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
.pre-setting-popup .pre-popup-param-setitem{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 28px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: #fff;
    -webkit-box-shadow: #484848 0 1px 0 0;
    box-shadow: 0 1px 0 0 #484848;
    background: #272727;
    border: 1px solid #232323;
    opacity: .8;
    line-height: 24px;
}
.pre-setting-popup .pre-popup-param-setitem:hover{
    cursor: pointer;
    background-color: #4b4c4c;
}
.pre-setting-popup .pre-setting-popup-content{
    padding: 10px 0;
}
.pre-popup-row{
    width: 100%;
    /* height: 40px; */
    padding-left: 16px;
    line-height: 40px;
    font-size: 12px;
    color: hsla(0,0%,100%,.54);
}
.pre-setting-popup .pre-popup-button-group{
    border-top: 1px solid #474747;
}
.pre-popup-button{
    width:40px;
	height:20px;
	background:linear-gradient(360deg,rgba(98,98,98,1) 0%,rgba(102,102,102,1) 100%);
	box-shadow:0px 2px 4px 0px rgba(0,0,0,0.1);
	border-radius:2px;
	float: right;
	font-size: 12px;
	line-height: 18px;
	margin: 15px 0;
    margin-right: 15px;
	padding: 0;
    color: #acacac;
    border: 0;
    outline: none;
}
.pre-popup-button:hover{
    background:rgba(65,68,72,1);
    color: #eeeeee;
    cursor: pointer;
}
.pre-setting-popup .pre-popup-page-content{
    margin: 0px;
    text-align: center;
    position: relative;
    /* bottom: 10px; */
    width: 100%;
    left: 0px;
}
.pre-setting-popup .pre-popup-page-content .pre-popup-page-opera{
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 32px;
    height: 32px;
    line-height: 30px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: #666;
    font-family: Arial;
    border: 1px solid #282828;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #636363;
    margin: 0;
    border: 0;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
}
.pre-popup-page-opera a{
    color: #ccc;
}
.pre-setting-popup .pre-popup-page-content .pre-popup-page-count{
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
.pre-setting-popup .pre-popup-page-content .pre-popup-page-count input[type="text"]{
    width: 30px;
    height: 24px;
    margin: 0 8px;
    padding: 5px 8px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    outline: none;
    border: 1px solid #282828;
    border-radius: 2px;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    background-color: #636363;
    color: #ccc;
    font-family: "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.pre-setting-popup .pre-popup-page-content .pre-popup-page-count span{
    padding: 0 8px 0 2px;
}
.pre-setting-popup .pre-popup-params-list .pre-popup-param{
    margin-top: 3px;
    line-height: 30px;
}
.pre-popup-param-row input{
    display: inline-block;
    width: 96px;
    height: 28px;
    line-height: 1.5;
    padding: 4px 19px 4px 7px;
    font-size: 12px;
    border: 1px solid #282828;
    border-radius: 2px;
    color: #ccc;
    background-color: #202020;
    background-image: none;
    position: relative;
    cursor: text;
    -webkit-transition: border .2s ease-in-out,background .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    transition: border .2s ease-in-out,background .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}
.pre-popup-param-row i.pre-popup-param-li-item{
    font-size: 14px;
    margin-left: 3px;
    color: #8f9091;
    display: inline-block;
    visibility: hidden;
}
.pre-popup-row i.pre-popup-param-li-visible{
    font-size: 14px;
    color: #8f9091;
    display: inline-block;
    visibility: visible;
    position: absolute;
}
.pre-popup-param-row i.pre-popup-param-li-item:hover, .pre-popup-row i.pre-popup-param-li-visible:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}
.pre-popup-row i.topCardInfo-key{
    left: 124px;
}
.pre-popup-row i.topCardInfo-value{
    right: 44px;
}
.pre-popup-param-row input.topCardInfo-value{
    margin-left: 6px;
}
.pre-popup-row p.pre-popup-info{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    left: 2px;
}
.pre-popup-row .pre-popup-param-info{
    color: #2db7f5;
    font-size: 14px;
    position: relative;
    max-height: 40px;
    top: 1px;
}
.pre-popup-row .pre-popup-param-info:hover{
    display: block;
    cursor: pointer;
}
.pre-popup-row .pre-popup-info-msg{
    display: none;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 12px;
    position: absolute;
    z-index: 2;
    width: 195px;
    line-height: 1.75;
    top: 35px;
    left: -64px;
    background: #494949;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25)
}
.pre-popup-row .pre-popup-info-msg .pre-popup-info-msg-item{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.pre-popup-row .pre-popup-info-msg .pre-popup-info-msg-item .pre-popup-info-msg-main{
    word-break: break-all;
    width: calc(100% - 35px);
    text-align: justify;
    justify-content: space-between;
}
.pre-popup-row .pre-popup-info:hover .pre-popup-info-msg{
    display: block;
}
.pre-popup-row .pre-popup-param-count{
    position: relative;
    left: 2px;
}
.pre-popup-row.topCard-info{
    height: 165px;
}
.pre-popup-row.topCard-htmldata{
    height: 206.77px;
    display: none;
}
.pre-popup-row.topCard-cushtml{
    display: none;
}
.pre-popup-row .pre-popup-textarea-content{
    width: 100%;
    position: relative;
    height: calc(100% - 10px);
    overflow: hidden;
    padding-right: 14px;
}
.pre-popup-row .pre-topCard-cushtml{
    display: inline-block;
    width: 100%;
    height: 28px;
    line-height: 1.5;
    padding: 4px 7px;
    font-size: 12px;
    border: 1px solid #282828;
    border-radius: 2px;
    color: #ccc;
    background-color: #666;
    background-image: none;
    position: relative;
    cursor: text;
}
.pre-popup-row textarea.pre-topCard-cushtml{
    max-width: 100%;
    height: auto;
    min-height: 28px;
    vertical-align: bottom;
    font-size: 14px;
    resize: none;
    white-space: nowrap;
    overflow: auto;
    border: 0;
    outline: none;
    user-select: text;
    -webkit-user-select: text;
    font: 400 12px Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
}
.pre-popup-row textarea::-webkit-scrollbar{
    width:6px;
    height:6px;
    color:#28292d;
    background:#2b2d2f;
}
.pre-popup-row textarea::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}
.pre-popup-row textarea::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.62);
    border-radius: 2px;
    background-color: silver;
}
.pre-popup-row textarea::-webkit-scrollbar-corner{
    background: none;
}
/* #topCardTypeEdit{
    left: 665px;
    top: 10px;
}
#topCardTypeEdit .pre-panelBody .pre-params-setting-list{
    height: 511px;
}
#topCardTypeEdit .pre-params-setting .pre-params-setting-param .pre-params-setting-param-body {
    padding: 0;
}
#topCardTypeEdit .pre-params-setting{
    padding: 0;
} */
.pre-popup-panel{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    font-family: "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.pre-popup-panel .pre-setting-popup-panel{
    width: 566px;
    height: 350px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2d2f;
    box-shadow: 1px 4px 23px 6px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-sizing: content-box;
}
.pre-popup-panel .pre-setting-popup-panel *{
    box-sizing: inherit;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-title{
    height: 50px;
    position: relative;
    border-bottom: 1px solid #1f2022c7;
    color: #c6c6c6;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-content{
    height: 246px;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-footer{
    height: 50px;
    border-top: 1px solid #1f2022c7;
    display: flex;
    padding: 0 15px;
    margin: 0;
    justify-content: center;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-title .pre-popup-panel-title{
    font-size: 15px;
    /* font-weight: 700; */
    line-height: 51px;
    padding-left: 16px;
    /* width: 70px; */
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-title p{
    display: inline-block;
    margin: 0;
}
.pre-popup-panel span.pre-close{
    position: absolute;
    top: 17px;
    right: 17px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.pre-popup-panel span.pre-close i{
    color: #959697;
    font-size: 15px;
    position: absolute;
}
.pre-popup-panel span.pre-close:hover i {
    color: #c5c5c5;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-footer .footer-btn-group{
    display: flex;
    margin: 10px auto;
    padding: 0;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-footer .footer-btn-group button{
    border: none !important;
    outline: none;
    border-radius: 3px;
    padding: 5px 0px;
    margin: 0 8px;
    width: 75px;
    text-align: center;
    /* height: 30px; */
    cursor: pointer;
    color: #fff;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-footer .footer-btn-group button:last-child{
    background-color: #57595b;
    color: #ccc;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-footer .footer-btn-group button:last-child:hover{
    color: #fff;
    background: rgba(123, 122, 122, 0.4);
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-footer .footer-btn-group button:nth-child(2){
    background-color: #57595b;
    color: #ccc;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-footer .footer-btn-group button:nth-child(2):hover{
    color: #fff;
    background: rgba(123, 122, 122, 0.4);
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-footer .footer-btn-group button:first-child{
    background-color: #ff6110 !important;
}
.pre-popup-panel .pre-setting-popup-panel .pre-setting-popup-panel-footer .footer-btn-group button:first-child:hover{
    background-color: #ff8140 !important;
}
.footer-btn-group button.footer-btn-item{
    font: 12px "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.dis-flex{
    display: flex;
}