*{
    margin: 0px;
    padding: 0px;
}

.map{
    position:absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 600px;
    background-color: #282828;
    border-radius: 6px;
    display: none;
    z-index: 20000;
}
/* 背景布 */
.map-Panel{
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
/* 头 */
.map-header{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #505354;
}
.map-title{
    float: left;
    color: white;
    font-size: 14px;
    padding: 0px 14px 0px 14px;
    height: 100%;
    line-height: 50px;
    user-select: none;
}
.typeMap{
    float: left;
    height: 100%;
    width: 50%;
}
.typeMap li{
    list-style: none;
    float: left;
    padding: 0 14px;
    margin: 15px 0px;
}
.typeMap ul li span{
    padding-left: 5px;
    color: #fff;
    font-size: 14px;
}
.map-close{
   float: right;
   height: 100%;
   padding: 0px 14px 0px 14px;
   line-height: 50px;
   
}
.map-close span{
    color: #959697;
    font-size: 14px;
}
.icon-close:hover{
    cursor: pointer;
    color: #ffffff;
}
/* 高德地图部分 */
.container{
    width: 99.8%;
    /* height: 356px; */
    height: 488px;
    margin: auto;
}
/* 搜索部分 */
.map-container-search{
    position: absolute;
    left: 6px;
    top: 55px;
    width: 170px;
    height: 28px;
    z-index: 10;
    padding: 8px;
}
.container-search{
    float: left;
    padding-left: 5px;
    width: 130px;
    height: 28px; 
    background-color: #282828;
    z-index: 10;
    color: #ccc;
    border: none;
}
.container-search::placeholder{
    color: #ccc;
    font-size: 12px;
}
.map-search{
    float: left;
    width: 24px;
    height: 28px;
    background-color: #282828;
    z-index: 20;
    line-height: 28px;
    padding-left: 3px;
    color:#808695;
}
.map-search:hover{
    color: #fff;
    cursor: pointer;
}

/* 按钮 */
.map-button{
    width: 100%;
    height: 62px;
    position: relative;
    border-top: 1px solid #505354;
}
.buttonAll{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
    width: 75px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 0 8px 0 8px;
    font-size: 14px;
}

.sureButton{
    background-color: #ff6110 !important;
}

.canleButton{
    background-color:#57595b;
    color: #ccc;
}

.button:hover{
    cursor: pointer;
}
.canleButton:hover{
    color: #fff;
    background-color:rgba(123, 122, 122, 0.4);
}

.sureButton:hover{
    background-color:#ff8140 !important;
}
