.pre-topcard {
    position: absolute;
    display:block;
}
.pre-topcard-content {
    display:inline-block;
    margin: 0 40px;
    cursor: pointer;
}
.pre-topcard-img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
}
.pre-topcard-text {
    visibility: hidden;
    display:inline-block;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: 0%;
    width: auto;
    padding: 2px 4px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-transform: none;
    background: #faae1b;
	opacity: 1;
    transform: translateX(-50%);
    white-space: nowrap;
}
.pre-topcard-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #faae1b transparent transparent transparent;
}
.pre-topcard.flash .pre-topcard-text{
    animation: moveTo 1s infinite;
}
@keyframes moveTo {
    0%{-webkit-transform: translateY(0) translateX(-50%);}
    50% {-webkit-transform: translateY(-20px) translateX(-50%);}
    100% {-webkit-transform: translateY(0) translateX(-50%);}
}