.pre-setting-panel .pre-panelModel .pre-panelBody .search-box{
  width: calc(100% - 14px);
  margin: 11px 10px;
  background: #1c1f20;
  border-radius: 2px;
  border: 1px solid #4d5153;
  height: 28px;
  font-size: 12px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .search-box i{
  color: #979797;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .search-box .search-input{
  background: none;
  color: #777777;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box{
  background: no-repeat;
  border: none;
  border-radius: 0;
  width: 325px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene{
  color: #ccc;
  padding: 10px 10px 0;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .tree-list{
  padding: 0;
  background: #494949;
  border-radius: 2px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  display: flex;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .tree-list span{
  height: 28px;
  line-height: 28px;
  width: 50%;
  padding: 0;
  text-align: center;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .tree-list .selected{
  background: #222222;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box{
  margin: 11px 0px;
  width: 100%;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box .span1{
  top: 0px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box input{
  background: none;
  color: #ccc;
  border: none;
  outline: none;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box .span2{
  display: block;
  background: none;
  width: 15px;
  height: 15px;
  font-family: "seticonfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: #ccc;
  top: 2px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box .span2:before{
  content: '\e629';
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box .span2.up:before{
  content: '\e625';
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box .span3{
  padding: 0 12px;
  border-left: 1px solid #565555;
  height: 15px;
  line-height: 15px;
  top: 7px;
  right: 15px;
  width: 50px;
  text-align: center;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box .search-type{
  width: 100px;
  height: 90px;
  background: #323435;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
  border-radius: 0px 0px 2px 2px;
  border: 1px solid #4c5055;
  color: #ccc;
  top: 28px;
  right: -1px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box .search-type ul li{
  border-bottom: 1px solid #111112;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box .search-type ul li:last-child{
  border-bottom: none;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .search-box .search-type ul li.active{
  background: none;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box{
  background: none;
  margin-top: -5px;
  margin-bottom: -10px;
  padding: 0;
  overflow-x: auto;
  width: calc(100% + 10px);
  margin-left: -10px;
  padding-right: 2px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li{
  padding-left: 0px;
  text-indent: 12px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li P{
  color: #ccc;
  display: inline-block;
  height: 18px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li p.active{
  background: none;
  color: #fff;
  z-index: 2;
  position: relative;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li p.active i{
  color: #fff;
  background: none;
  font-family: "seticonfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li p.active .flyto::before{
  content: '\e61f';
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li p.active i.topcard{
  margin-left: 4px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li p.active .topcard::before{
  content: '\e60c';
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li .inactive{
  border: none !important;
  position: relative;
  font-family: "seticonfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  opacity: 0.5;
  top: 1px;
  left: 0;
  margin-right: -12px;
  z-index: 2;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li .inactive::before{
  content: '\e645';
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li .inactives::before{
  content: '\e644';
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box ul li label.active_bg{
  background: #1c1f20;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  width: calc(100% - 2px);
  left: 0;
  z-index: 1;
  height: 25px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box::-webkit-scrollbar{
  width: 6px;
  height: 6px;
  background: rgba(250, 249, 249, 0);
  z-index: 999;
  border-radius: 6px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background: #161616;
  border-radius: 6px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .scene-box::-webkit-scrollbar-corner{
  background: none;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .tabs{
  background: #1c1f20;
  border-radius: 2px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-bottom: 0;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .tabs .selected{
  color: #ccc;
  background: no-repeat;
  border: none;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene #attr .rowli{
  margin-top: 4px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .attr::-webkit-scrollbar{
  width: 6px;
  height: 6px;
  background: rgba(250, 249, 249, 0);
  z-index: 999;
  border-radius: 6px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .attr::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background: #161616;
  border-radius: 6px;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .sample-scene-box .tab-scene .attr::-webkit-scrollbar-corner{
  background: none;
}