#pre-sky-list{
  position: absolute;
  left: calc(100% - 340px);
  top: 10px;
}
/* .pre-setting-panel .pre-panelModel .pre-panelHeader .pre-panelTitle{
margin-left: 6px;
} */

.pre-setting-panel .pre-panelModel .pre-panelHeader .pre-skyBox-panelNumber{
color: #c6c6c6;
  font-size: 12px;
  cursor: default;
}
.pre-setting-panel .pre-panelModel .pre-panelHeader .pre-source_type{
  color: #c6c6c6;
  position: relative;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  float: left;
  left: 15px;
  top: 8px;
  z-index: 2;
  left: -30px;
  margin-right: 12px;
  cursor: pointer;
}
.pre-setting-panel .pre-panelModel .pre-panelHeader .pre-source_type .pre-source_ul{
position: absolute;
  width: max-content;
  background: #2b2d2f;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: 1px solid #4c5055;
  color: #ccc;
  font-size: 12px;
  top: 12px;
  right: 100%;
  margin-right: 15px;
}
.pre-setting-panel .pre-panelModel .pre-panelHeader .pre-source_type .pre-source_ul li{
  padding: 0 8px;
  line-height: 35px;
  cursor: pointer;
  position: relative;
  width: auto;
 
  border-top: 1px solid #434547;
  min-width: 60px;
}
.pre-setting-panel .pre-panelModel .pre-panelHeader .pre-source_type .pre-source_ul li:nth-child(0){
  background: #2b2d2f;
}

.pre-setting-panel .pre-panelModel .pre-panelHeader .pre-source_type .pre-source_ul li:nth-child(1){
  background: #2b2d2f;
}

.pre-setting-panel .pre-panelModel .pre-panelHeader .pre-source_type .pre-source_ul li:hover{
  background-color: #094771;
  color: #fff;
}
.pre-setting-panel .pre-panelModel .pre-panelHeader .pre-source_type .pre-source_ul li.checkedType{
  background-color: #094771;
  color: #fff;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .pre-search-box{
  width: 100%;
  margin: 1px 0px 11px 0px;
  justify-content: space-between;
  align-items: center;
  background: #1c1f20;
  border-radius: 2px;
  border: 1px solid #4d5153;
  height: 28px;
  font-size: 12px;
  display: flex;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .pre-search-box i{
  color: #979797;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .pre-search-box input{
  background: none;
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
  /* color: #777777; */
  color: #ccc;
}

.pre-setting-panel .pre-panelModel .pre-panelBody .scene-boxs{
  /* padding-left:6px; */
  padding-top: 4px;
  width: 305px;
  height: 436px;
  /* overflow: hidden; */
  position: relative;
}

.pre-setting-panel .pre-panelModel .pre-panelBody .card{
width: 96px;
height: 54px;
text-align: center;
top: 11px;
margin-left: 5.2px;
display: inline-block;
margin-bottom: 13px;
transition: box-shadow .2s ease;
position: relative;
background: #3d3f40;
border-radius: 3px;
animation: pat .8s 1;
cursor: pointer;
}
@keyframes pat
{
0% {opacity: 0;
  transform: scale(1.2, 1.2);
} 100% {
  opacity: 1;
  transform: scale(1, 1);
}
}

.pre-setting-panel .pre-panelModel .pre-panelBody .card:hover{
  box-shadow: 0 1px 1px rgba(97, 108, 121, 0.3), 0 7px 18px 0 rgba(97, 108, 121, 0.4);
}
.pre-setting-panel .pre-panelModel .pre-panelBody .card .card-body{
  font-size: 12px;
  display: none;
  position: absolute;
  bottom: -14px;
  width: auto;
  height: 22px;
  background: #000000;
  border-radius: 2px;
  opacity: 0.6976;
  font-size: 12px;
  padding: 0 3px;
  left: calc(100% - 33px);
  z-index: 2;
  overflow: hidden;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
}
.pre-setting-panel .pre-panelModel .pre-panelBody .card .card-body p{
  overflow: hidden;
  margin-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .card:hover .card-body{
  display: block;
}
.scene-boxs .screenshot-container{
  width: 100%;
  height: 100%;
}
.pre-setting-panel .pre-panelModel .pre-panelBody .scene-boxs .card a img{
  /* height: 99%;
  width: 99%; */
  border-radius: 2px;
  display: flex;
  text-align: center;
}

.pre-scenes-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 13px;
  color: #c6c6c6;
}

.pre-scenes-footer div{
  margin-right:7px;
  font-size: 12px;
  cursor: pointer;
}

.pre-scenes-footer .nowpage{
  border: 1px solid #d2d2d2;
  text-align: center;
  border-radius: 2px;
  cursor: default;
  width: auto;
  width: 60px;
  height: 28px;
  background: #1c1f20;
  border: 1px solid #4d5153;
  line-height: 25px;
  margin: -4px 15px 0 8px;
  padding: 0 5px;
}