.pre-topCard-box1{
    position: relative;
    background-image: url("../img/preset/topcard/bgone.png");
    /* width: 135px;
    height: 105px; */
    line-height: 16px;
    background-size: 100% 100%;
    color: #ffffff;
    text-align: left;
    font-family: "微软雅黑";
    font-size: 12px;
    padding: 0px;
}
.pre-topCard-box1 .pre-topCard-box-content{
    min-width: 150px;
    min-height: 48px;
    width: auto;
    height: 121px;
}
.pre-topCard-box1 .pre-topCard-box-content .pre-topCard-content-list{
    left: 0;
    top: 0;
    width: 100%;
    height: 67%;
    padding: 8px;
    list-style: none;
    margin: 0;
}
.pre-topCard-box1 .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item:not(:first-child){
    margin-top: 3px;
}


.pre-topCard-cusdefault{
    position: absolute;
    line-height: 1.3em;
    color: #ffffff;
    text-align: left;
    font-family: "Open Sans,sans-serif";
    font-weight: 700;
    font-size: 12px;
    padding: 0px;
    z-index: 1;
    height: 35px;
    display: inline-flex;
    flex-direction: column;
}

.pre-topCard-cusdefault .pre-topCard-box-content .pre-topCard-content-list{
    
    left: 0;
    top: 0;
    background-color:rgba(0,0,0,.8);
    width: 100%;
    padding: 10px;
    list-style: none;
    margin: 0;
    border-radius: 4px;
    display: inline-flex;
}

.pre-topCard-cusdefault .pre-topCard-box-content .pre-topCard-content-list::before{
    transform: rotate(-90deg);
    position: absolute;
    top: 92%;
    right: 50%;
    display: block;
    content: "";
    border: 5px solid transparent;
    border-right-color: rgba(0,0,0,.8);
    border-left: 0;
}

.pre-topCard-cusdefault .pre-topCard-box-content{
    height: 121px;
}
.pre-topCard-cusdefault .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item:not(:first-child){
    margin-left: 15px;
}

.pre-topCard-cusdefault .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-key{
    display:inline-block;
}

.pre-topCard-cusdefault .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item span{
    white-space: nowrap;
}

.pre-topCard-cusdefault .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-value{
    display:inline-block;
}

/**
 * 样式1
 */
.pre-topCard-box-one{
    position: relative;
    line-height: 1.3em;
    color: #4b4b49;
    text-align: center;
    min-width: 100px;
    font-family: "DIN Alternate";
    font-size: 16px;
    padding: 0px;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
}
.pre-topCard-box-one .pre-topCard-box-content .pre-topCard-content-list{
    left: 0;
    top: 0;
    background-color:#e7e7eb;
    width: 100%;
    padding: 10px;
    list-style: none;
    margin: 0;
    border-radius: 19px 19px 19px 0;
}
.pre-topCard-box-one .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item:not(:first-child){
    margin-left: 15px;
}
.pre-topCard-box-one .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-key{
    /* display:block; */
}
.pre-topCard-box-one .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item span{
    display:none;
}
.pre-topCard-box-one .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-value{
    display:block;
}

/**
 * 样式2
 */
.pre-topCard-box-two{
    position: relative;
    line-height: 1.3em;
    color: #ffffff;
    text-align: left;
    font-family: "微软雅黑";
    font-weight: 400;
    font-size: 12px;
    padding: 0px;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
}
.pre-topCard-box-two .pre-topCard-box-content .pre-topCard-content-list{
    left: 0;
    top: 0;
    background-color:rgba(0,0,0,.68);
    width: 100%;
    padding: 5px 13px;
    list-style: none;
    margin: 0;
    border-radius: 2px;
}
.pre-topCard-box-two .pre-topCard-box-content .pre-topCard-content-list::before{
    position: absolute;
    top: 24%;
    right:100%;
    display: block;
    content: "";
    border: 7px solid transparent;
    border-right-color: rgba(0,0,0,.68);
    border-left: 0;
}
.pre-topCard-box-two .pre-topCard-box-content{
    width: auto;
}
.pre-topCard-box-two .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item:not(:first-child){
    margin-top: 3px;
}

/**
 * 样式3
 */
.pre-topCard-box-three{
    position: relative;
    background-image: url("../img/topcard/bluebubble.png");
    width: 41px;
    height: 42px;
    /* line-height: 16px; */
    background-size: 100% 100%;
    color: #0f0248;
    text-align: center;
    font-family: "思源黑体 CN";
    font-size: 6px;
    padding: 0px;
}
.pre-topCard-box-three .pre-topCard-box-content .pre-topCard-content-list{
    left: 0;
    top: 0;
    width: 100%;
    height: 67%;
    padding: 2px;
    list-style: none;
    margin: 0;
}
.pre-topCard-box-three .pre-topCard-box-content{
    /* min-width: 150px; */
    width: auto;
}
.pre-topCard-box-three .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item:not(:first-child){
    margin-top: 3px;
}
.pre-topCard-box-three .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-key{
    display:none;
}
.pre-topCard-box-three .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item span{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    line-height: 32px;
    text-align: center;
}
.pre-topCard-box-three .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-value{
    display:block;
}

/**
 * 样式4
 */
.pre-topCard-box-four{
    position: relative;
    line-height: 1.3em;
    color: #898e99;
    text-align: left;
    min-width: 120px;
    font-family: "Segoe UI Emoji";
    font-weight: 600;
    font-size: 15px;
    padding: 0px;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
}
.pre-topCard-box-four .pre-topCard-box-content .pre-topCard-content-list{
    left: 0;
    top: 0;
    background-color:rgba(255, 255, 255);
    width: 100%;
    padding: 10px;
    list-style: none;
    line-height: 24px;
    margin: 0;
    box-shadow: rgba(0,0,0,0.6) 0px 1px 8px;
}
.pre-topCard-box-four .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item:not(:first-child){
    margin-top: 3px;
}
.pre-topCard-box-four .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-key{
    display: block;
    font-size: 10px;
    color: #cfd2d3;
}


/* 样式五 */
.pre-topCard-box-five{
    position: relative;
    height: 26px;
    line-height: 1.3em;
    color: #ffffff;
    text-align: center;
    max-width:170px;
    font-family: "等线";
    font-weight: 600;
    font-size: 12px;
    padding: 0px;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
}

.pre-topCard-box-five .pre-topCard-box-content .pre-topCard-content-list{
    left:26px;
    top: 0;
    /* background-color:rgba(0, 0, 0, 0.6); */
    width: 100%;
    list-style: none;
    line-height: 25px;
    margin: 0;
    
}
.pre-topCard-box-five .pre-topCard-box-content{
    height: 26px;
}
.pre-topCard-box-five .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item:not(:first-child){
    margin-top: 3px;
}

.pre-topCard-box-five .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-key{
    display: block;
    position: absolute;
    top:0%;
    left:-13px;
    background-color: #e6951f;
    height:24px;
    width: 24px;
    line-height: 22px;
    border-radius: 20px;
    border: 1.5px #e3caa8 solid;
    font-size: 12px;
    color: #ffe88b;
}
.pre-topCard-box-five .pre-topCard-box-content .pre-topCard-content-list .pre-topCard-content-list-item .pre-topCard-list-item-value{
    display: block;
    background-color: rgb(0,0,0,0.4);
    height:24px;
    padding-left: 20px;
    padding-right: 13px;
    min-width:30px;
    max-width:200px;
    border-radius:0px 13px 13px 0px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ffffff;
}
