.preview-log {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}
.preview-log {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 600px;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.preview-show {
    visibility: visible;
}
.preview-log .preview-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.preview-content {
    height: 600px;
    background: rgba(0,0,0,0.8);
}
.preview-show.preview-log .preview-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.preview-log h2,
.preview-log h3 {
    font-weight: normal;
}

.preview-log h2 {
    padding-bottom: 0.3em;
    line-height: 1.2;
    font-size: 18px;
    padding: 15px 40px 13px 40px;
    color: #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #808080;
}

.preview-log .icon-close {
    color: #fff;
    position: absolute;
    cursor: pointer;
}
.preview-log .icon-iconfont {
    top: 16px;
    right: 15px;
}
.preview-log .icon-iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.preview-log .icon-close:before {
    content: "\e631";
}

.preview-log .help-content {
    flex: 1;
}

.preview-log .help-content .preview-logo {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 20px;
    background: url('../img/logo.png') no-repeat;
    background-size: contain;
    cursor: default; 
}

.preview-log .middle {
    height: 530px;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    margin: 10px 0;
}

.preview-log .middle::-webkit-scrollbar {
    width: 8px;
    height: 2px;
    border-radius: 5px;
    /*外层轨道*/
}

.preview-log .middle::-webkit-scrollbar-thumb {
    display: block;
    width: 6px;
    margin: 0 auto;
    border-radius: 10px;
    background: #808080;
    /*内层轨道*/
}

.preview-log h3 {
    display: block;
    padding: 0px 20px;
    font-size: 16px;
    color: #fff;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.preview-log h3:nth-child(1) {
    color: #ff8000;
}

.preview-log ul {
    display: block;
    list-style-type: disc;
    margin-top: 8px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 60px;
}

.preview-log li {
    display: list-item;
    list-style-type: disc;
    font-size: 14px;
    padding: 3px 0;
    color: #fff;
    text-align: -webkit-match-parent;
}

.preview-log hr {
    border: 0;
    width: 460px;
    height: 2px;
    border-bottom: 2px solid;
    border-color: #808080;
    margin: 0 20px;
}