* {
    margin: 0;
    padding: 0;
}

.scenebuild-topcard {
    width: 220px;
    height: 94px;
    color: #fff;
    border-radius: 4px;
    font-family: 'SourceHanSansCN';
    -webkit-user-select: none;
}

.scenebuild-topcard .topcard-line {
    position: absolute;
    background-color: #ffb145;
    width: 100%;
    height: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.scenebuild-topcard .topcard-content {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.493);
    background-color: #1d3257;
    top: 10px;
    width: 100%;
    height: 58px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.topcard-content .topcard-title {
    color: #fff;
    position: absolute;
    font-size: 30px;
    line-height: 58px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.topcard-content .topcard-list {
    position: absolute;
    left: 16px;
    top: 46px;
    width: calc(100% - 32px);
    font-size: 15px;
    line-height: 1;
}

.topcard-list .list-item:not(:first-child) {
    margin-top: 12px;
}

.topcard-list .list-item .item-key {
    display: inline-block;
    width: 70px;
    text-align: left;
}

.topcard-list .list-item .item-val {
    display: inline-block;
    width: 88px;
    text-align: right;
    font-family: 'DINPro';
}

.scenebuild-topcard .arrow {
    position: absolute;
    background: url(../img/sceneBuildTopCard/arrow.png) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    width: 28px;
    height: 22px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + -23px);
}

.floor-topcard{
    color: #fff;
    font-family: 'DINPro';
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    line-height: 1.2;
    min-width: 10px;
    text-align: center;
    white-space: nowrap;
}

/**
 * 场景信息牌样式
 */
.scene-card-type-one{
    background: url('../img/topcard/scene/01.png') no-repeat;
}
.scene-card-type-two{
    background: url('../img/topcard/scene/02.png') no-repeat;
}
.scene-card-type-three{
    background: url('../img/topcard/scene/03.png') no-repeat;
}
.scene-card-type-four{
    background: url('../img/topcard/scene/04.png') no-repeat;
}
.scene-card-type-five{
    background: url('../img/topcard/scene/05.png') no-repeat;
}
.scene-card-type-six{
    background: url('../img/topcard/scene/06.png') no-repeat;
}
.scene-card-type-seven{
    background: url('../img/topcard/scene/07.png') no-repeat;
}