.maskBox, .code-mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1000;
    position: absolute;
}

.outPut-prompt {
    width: 922px;
    height: auto;
    box-shadow: 0 5px 8px #666;
    margin: 20px;
    background: #fff;
    color: #333333;
    font-family: SimSun;
    font-weight: 600;
    position: relative;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.outPut-header {
    width: 100%;
    height: 164px;
    background-image: url("/guide/ScenePreview/assets/img/buypage/header_03.png");
    background-position: 0 0;
    /*这个是按从左往右，从上往下的百分比位置进行调整*/
    background-size: 100%;
    /*按比例缩放*/
    background-repeat: no-repeat;
    /*还有repeat-x,y等*/
}

.outPut-main {
    margin-top: 35px;
    height: 467px;
}

.outPut-list {
    margin-bottom: 35px;
    height: 120px;
}

.outPut-left {
    width: 95px;
    height: 100%;
    text-align: center;
}

.outPut-left span {
    display: inline-block;
    width: 21px;
    word-wrap: break-word;
    font-size: 21px;
    line-height: 25px;
    margin-top: 20px;
}

.outPut-right {
    width: 780px;
    height: 100%;
}

.outPut-right .outputList {
    width: 368px;
    height: 100%;
    border: 1px solid #dadada;
    position: relative;
    transition: all 0.5s linear;
}

.outputList:not(.disable):hover {
    box-shadow: 0 5px 8px #303f9f;
}
a {
    color: #303f9f;
    text-decoration: none;
}
a:hover{
    color: #ff6d24;
    cursor: pointer;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.outputList-img {
    width: 100px;
    height: 100%;
    text-align: center;
    transition: all 0.5s linear;
    line-height: 122px;
}

.outputList-img img {
    vertical-align: middle;
}

.outputList-title {
    font-size: 18.6px;
    margin-bottom: 13px;
}

.outputList-text {
    font-size: 16px;
    color: #303f9f;
    word-wrap: break-word;
    line-height: 20px;
}
.outputList-text.disable a{
    color: #303f9f!important;;
    cursor: not-allowed;
}
.outputList-right {
    text-align: left;
    width: 260px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translate(0, -50%);
}

.output-title {
    height: 88px;
    width: 100%;
    line-height: 88px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    position: relative;
}

.output-title span {
    display: inline-block;
}

.output-text {
    display: block;
    position: relative;
    top: 12px;
    margin: 0px 5px;
}

.output-title img {
    vertical-align: middle;
    margin-left: 5px;
}

.output-introduce {
    width: 100%;
    color: #fff;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.output-introduce span:nth-child(2) {
    margin: 0 47px;
}

.closepage {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    z-index: 8;
    cursor: pointer;
    font-size: 12px;
}

.closepage:hover {
    color: #ff8205;
}

.code-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}
.code-content .code-top{
    width: 100%;
    height: 30px;
    background-color: #303f9f;
    line-height: 30px;
}
.code-content .code-top .code-top-text{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding-left: 12px;
}
.code-content .code-main{
    width: 100%;
    height: 220px;
    background-color: #fff;
}

.code-content .code-main .share-qr{
    width: 164px;
    height: 164px;
    border-radius: 2px;
    background-color: #fff;
    background-size: contain;
    position: absolute;
    left: 43px;
    top: 58px;
}
.code-content .code-main .share-qr canvas{
    position: relative;
    left: 50.5%;
    top: 50%;
    transform: translate(-50%, -50%)
}