#pre-update-pictures{
    /* position: absolute;
    height: 100%;
    width: 100%; */
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #00000038;
}
.pre-bg-box{
    width: 453px;
    position: relative;
    margin: auto;
    background-color: #FDFDFD;
    box-shadow: 1px 4px 23px 6px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-sizing: content-box;
}
.pre-bg-box .pre-title{
    height: 50px;
    position: relative;
    border-bottom: 1px solid #e3e5e7;
}
.pre-bg-box .pre-title .pre-title-p{
    font-size: 15px;
    color: #17233d;
    font-weight: 700;
    line-height: 51px;
    padding-left: 16px;
}
.pre-bg-box .pre-title .pre-title_desc{
    font-size: 14px;
    margin-left: 10px;
    color: #333333;
    display: none;
}
.pre-bg-box .pre-title .pre-close_upload{
    position: absolute;
    top: 13px;
    right: 18px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.pre-bg-box .pre-title .pre-close_upload span{
    color: #979797;
    font-size: 15px;
}
.pre-bg-box .pre-title_f{
    color: #2f2f2f;
    font-size: 14px;
    margin: 13px 27px;
    display: block;
    font-weight: 600;
}
.pre-bg-box .pre-img{
    padding: 0px 27px;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.65)
}
.pre-bg-box .pre-ifOverRide{
    padding: 0 12px;
}
.pre-bg-box .pre-ifOverRide .pre-input-radio{
    padding: 0 15px;
    display: inline-block;
}
.pre-bg-box .pre-ifOverRide .pre-input-radio .input-style-radio{
    position: relative;
}

.pre-bg-box .pre-ifOverRide .pre-input-radio .input-style-radio .overRide-radio{
    margin-right: 18px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65)
}

.pre-bg-box .pre-ifOverRide .pre-input-radio .input-style-radio .overRide-radio input{
    position: relative;
    left: 8px;
    top: 2px;
    cursor: pointer;
}
.pre-bg-box #pre-uploader{
    margin: 15px 27px;
}
.pre-bg-box #pre-uploader .easy-uploader .btn-box{
    display: flex;
    align-items: center;
}
.pre-bg-box #pre-uploader .easy-uploader .primary{
    color: #fff;
    background-color: #ff6110;
    border: 0;
}
.pre-bg-box #pre-uploader .easy-uploader .btn {
    display: inline-block;
    margin-right: 10px;
    padding: 9px 15px;
    font-size: 12px;
    color: #fff;
    border: 1px #ff6110 solid;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
.pre-bg-box .pre-upload_footer{
    height: 50px;
    border-top: 1px solid #e3e5e7;
    display: flex;
    justify-content: center;
}
.pre-bg-box .pre-upload_footer .pre-expend{
    display: none;
}
.pre-bg-box .pre-upload_footer div{
    width: 56px;
    height: 31px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    padding: 5px 15px 6px;
    font-size: 12px;
    border-radius: 4px;
    transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    white-space: nowrap;
    user-select: none;
    border: 1px solid #dcdee2;
    margin: 7px 10px;
}

.pre-bg-upload #pre-uploader .easy-uploader .list{
    list-style: none;
    margin: 20px 0px;
}

.pre-bg-upload #pre-uploader .easy-uploader .list-item{
    box-sizing: border-box;
    position: relative;
    padding: 5px 10px 10px 79px;
    height: 34px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 3px;
}

.pre-bg-upload #pre-uploader .easy-uploader .list-item .preview{
    position: relative;
    z-index: 1;
    float: left;
    vertical-align: middle;
    margin-left: -74px;
    width: 22px;
    height: 22px;
}

.pre-bg-upload #pre-uploader .easy-uploader .list-item .preview .preview-img{
    max-width: 22px;
    max-height: 22px;
}

.pre-bg-upload #pre-uploader .easy-uploader .info{
    position: relative;
    margin-right: 4px;
    top: -29px;
    height: 32px;
    width: 353px;
    margin-left: -47px;
    padding-left: 4px;
    color: #606266;
}

.pre-bg-upload #pre-uploader .easy-uploader .filename{
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 0px;
    font-size: 12px;
    font-family: "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans GB", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    padding-left: 4px;
    line-height: 30px;
    color: #606266;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pre-bg-upload #pre-uploader .easy-uploader .progress-wrapper{
    position: relative;
    height: 2px;
    background-color: #eee;
}
.pre-bg-upload #pre-uploader .easy-uploader .progressbar{
    height: 100%;
    background-color: #409eff;
}
.pre-bg-upload #pre-uploader .easy-uploader .progress-text{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    font-size: 12px;
    line-height: 30px;
    color: #606266;
}
.pre-bg-upload #pre-uploader .easy-uploader .delete-label{
    box-sizing: border-box;
    position: absolute;
    right: -15px;
    top: 7px;
    z-index: 0;
    padding-right: 12px;
    width: 46px;
    height: 26px;
}
